<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.css}"/>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.min.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  <title>Welcome</title>
</head>
<body>


<nav th:include="navigationfrontend :: navigation"
     class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-green">
  <div class="container" th:include="navigationfrontend :: container">
    <div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbar"
              th:include="navigationfrontend :: button">
        <span class="icon-bar" th:include="navigationfrontend :: icon1"></span>
        <span class="icon-bar" th:include="navigationfrontend :: icon2"></span>
        <span class="icon-bar" th:include="navigationfrontend :: icon3"></span>
      </button>
      <a class="navbar-brand" href="#" th:include="navigationfrontend :: text">
        <span th:include="navigationfrontend :: icon4"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" th:fragment="collapse">
      <ul class="nav navbar-nav navbar-right" th:fragment="listhead">
        <li th:include="navigationfrontend :: listrow1"><a
            th:include="navigationfrontend :: listtext1">Login</a></li>
        <li th:include="navigationfrontend :: listrow2">
          <form th:action="@{/logout}" method="post">
            <a>Logout</a>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron text-center">
  <h1 class="display-3">Kleingartensparte "Zur Sonneblume e.V."</h1>
</div>

<form id="cancelForm" th:action="@{/}" action="dashboardmeal"></form>

<div class="col-md-4"></div>
<!--/*@thymesVar id="reservationCreationForm" type="de.gardenmanager.roombooking.ReservationCreationForm"*/-->
<!--/*@thymesVar id="start" type="java.time.LocalDateTime"*/-->
<!--/*@thymesVar id="end" type="java.time.LocalDateTime"*/-->
<!--/*@thymesVar id="owner" type="java.lang.String"*/-->
<!--/*@thymesVar id="description" type="java.lang.String"*/-->

  <div class="col-md-4">
    <div class="box">
      <div class="box-header">
        <div class="box-title">
          <h3>Terminbestellung</h3>
        </div>
      </div>
      <form th:object="${reservationCreationForm}" th:action="@{/booking/add}" class="form-horizontal" method="post">
      <div class="box-body">
        <div class="form-group">
          <label>Startdate:</label>
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input id="startdatepicker" class="form-control pull-right" th:field="*{start}" type="datetime-local"/>
            <span th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></span>
          </div>
        </div>
        <div class="form-group">
          <label>Enddate:</label>
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input id="finaldatepicker" class="form-control pull-right" th:field="*{end}" type="datetime-local"/>
            <span th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputOwner">Name</label>
          <div class="col-sm-10">
            <input id="inputOwner" class="form-control" placeholder="Name"
                   th:field="*{owner}"/>
            <span th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputDescription">Beschreibung</label>
          <div class="col-sm-10">
            <input id="inputDescription" class="form-control" placeholder="Beschreibung"
                   th:field="*{description}"/>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-block btn-info pull right">Termin bestellen</button>
      <p></p>
        <button form="cancelForm" type="submit">Abbrechen</button>
      </div>
    </form>
    </div>
  </div>


</body>
</html>