<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/plugins/iCheck/square/blue.css"
        th:href="@{/webjars/AdminLTE/2.4.2/plugins/iCheck/square/blue.css}"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>

  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
  <title>Welcome</title>
</head>
<body class="hold-transition register-page">

<form id="cancelForm" th:action="@{/dashboardhome}"></form>

<div class="register-box">
  <div class="register-logo">
    <a>
      <b>Kleingartensparte </b>
      Zur Sonnenblume e.V.
    </a>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Legen sie einen neuen Gastronom an</p>
    <!--/*@thymesVar id="catererRegistrationForm" type="de.gardenmanager.validation.CatererRegistrationForm"*/-->
    <!--/*@thymesVar id="name" type="java.lang.String"*/-->
    <!--/*@thymesVar id="password" type="java.lang.String"*/-->
    <form th:action="@{/caterer/register}" action="#" method="post" th:object="${catererRegistrationForm}">
      <div class="form-group has-feedback">
        <input id="Nutzername" class="form-control" placeholder="Nutzername" type="text" th:field="*{name}" th:errorclass="fieldError"/>
        <span class="glyphicon glyphicon-user form-control-feedback" ></span>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
      <div class="form-group has-feedback">
        <input id="Passwort" class="form-control" placeholder="Passwort" type="password" th:field="*{password}" th:errorclass="fieldError"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-block btn-danger btn-flat" form="cancelForm">Abbrechen</button>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block btn-flat" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>



<!--jquery-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<!--Bootstrap-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/bootstrap.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/dist/js/bootstrap.min.js"></script>
<!--iCheck-->
<script th:src="@{/webjars/AdminLTE/2.4.2/plugins/iCheck/icheck.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/plugins/iCheck/icheck.min.js"></script>


</body>
</html>