<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>

  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
  <title>Welcome</title>
</head>

<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li>
                    <!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img
                            src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg"
                            class="img-circle" alt="User Image"/>
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li>
                    <!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li>
                    <!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%"
                             role="progressbar" aria-valuenow="20" aria-valuemin="0"
                             aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg"
                   class="user-image" alt="User Image"/>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg"
                     class="img-circle" alt="User Image"/>

                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside th:include="navigationbackend :: navigationbackend" class="main-sidebar">

    <section th:include="navigationbackend :: sidebar" class="sidebar">

      <div class="user-panel" th:include="navigationbackend :: userpanel">
        <div class="pull-left image" th:include="navigationbackend :: imagecontainer">
          <img src="../static/resources/img/chefshat.png" class="img-circle" alt="User Image"
               th:include="navigationbackend :: image"/>
        </div>
        <div class="pull-left info" th:include="navigationbackend :: info">
          <p>Name des Gastronoms</p>
          <a href="#" th:include="navigationbackend :: backendtext1">
            <i class="fa fa-circle text-success"
               th:include="navigationbackend :: backendiframe1"></i>
            Online
          </a>
        </div>
      </div>

      <ul class="sidebar-menu tree" data-widget="tree"
          th:include="navigationbackend :: backendlisthead">
        <li class="header" th:include="navigationbackend :: backendlistrow1">HEADER</li>
        <li class="active" th:include="navigationbackend :: backendlistrow2">
          <a href="#" th:include="navigationbackend :: backendtext2">
            <i class="fa fa-link" th:="backendiframe2"></i>
            <span th:include="navigationbackend :: backendicon1">Link</span>
          </a>
        </li>
        <li>
          <a href="#" th:include="navigationbackend :: backendtext3">
            <i class="fa fa-link" th:include="navigationbackend :: backendiframe3"></i>
            <span th:include="navigationbackend :: backendicon2">Another Link</span>
          </a>
        </li>
      </ul>

    </section>

  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">

    <section class="content-header">
      <h1>
        Menü
        <small>Legen sie hier ihre Menüs an!</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="menuForm" type="de.gardenmanager.validation.MenuForm"*/-->
      <!--/*@thymesVar id="starters" type="List<de.gardenmanager.restaurant.Meal>"*/-->
      <!--/*@thymesVar id="maincourses" type="List<de.gardenmanager.restaurant.Meal>"*/-->
      <!--/*@thymesVar id="desserts" type="List<de.gardenmanager.restaurant.Meal>"*/-->
      <!--/*@thymesVar id="meal" type="de.gardenmanager.restaurant.Meal"*/-->
      <form method="post" action="/menu/add/new" th:object="${menuForm}">
        <div class="row">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="inputMenuName">Menuname</label>
            <div class="col-sm-3">
              <input id="inputMenuName" class="form-control" placeholder="Menuname"
                     name="name" required="required"/>
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Starter:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="starter1">
                <option th:each="meal : ${starters}" th:text="${meal.name}"></option>
              </select>
              <span th:if="${#fields.hasErrors('starter1')}" th:errors="*{starter1}"></span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Starter:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="starter2">
                <option th:each="meal : ${starters}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Starter:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="starter3">
                <option th:each="meal : ${starters}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Starter:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="starter4">
                <option th:each="meal : ${starters}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Maincourse:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="mainCourse1">
                <option th:each="meal : ${maincourses}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Maincourse:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="mainCourse2">
                <option th:each="meal : ${maincourses}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Maincourse:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="mainCourse3">
                <option th:each="meal : ${maincourses}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Maincourse:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="mainCourse4">
                <option th:each="meal : ${maincourses}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Dessert:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="dessert1">
                <option th:each="meal : ${desserts}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Dessert:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="dessert2">
                <option th:each="meal : ${desserts}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Dessert:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="dessert3">
                <option th:each="meal : ${desserts}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Dessert:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true" name="dessert4">
                <option th:each="meal : ${desserts}" th:text="${meal.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit">Zu Menü hinzufügen!</button>
          </div>
        </div>
      </form>
      <!--/*@thymesVar id="menuForm" type="de.gardenmanager.validation.MenuForm"*/-->
      <form th:action="@{/menu/create}" action="">
        <div class="row">
          <div class="box">
            <div class="box-header">
              <h3>Beispiel Menü</h3>
            </div>
            <div class="box-body">
              <div class="dataTables_wrapper from-inline dt-bootstrap">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover dataTable" role="grid">
                    <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Name">
                        Name
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                          aria-label="Allergene">
                        Allergene
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Preis">
                        Preis
                      </th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr role="row">
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th rowspan="1" colspan="1">
                        Name
                      </th>
                      <th rowspan="1" colspan="1">
                        Allergene
                      </th>
                      <th rowspan="1" colspan="1">
                        Preis
                      </th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-md-6">
                  <label>Anzahl der Essen</label>
                </div>
                <div class="col-md-6">
                  <label>6</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button class="btn btn-default" type="submit">Zurück</button>
            </div>
          </div>
        </div>
      </form>
    </section>

  </div>

</div>

<!--jquery-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<!--Bootstrap-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/bootstrap.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/dist/js/bootstrap.min.js"></script>
<!--Fastclick-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/fastclick/lib/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/fastclick/lib/fastclick.js"></script>
<!--AdminLTE-->
<script th:src="@{/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/dist/js/adminlte.min.js"></script>
<!--Sparkline-->
<script
    th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"
    src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!--jvectormap-->
<script th:src="@{/webjars/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script
    th:src="@{/webjars/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-world-mill-en.min.js}"
    src="https://www.webjars.org/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-world-mill-en.min.js"></script>
<!-- Slimscroll -->
<script th:src="@{/AdminLTE/2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Chart.js/Chart.js"></script>

</body>
</html>