<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.css"
          th:href="@{/resources/css/bootstrap4-business-tycoon.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.min.css"
          th:href="@{/resources/css/bootstrap4-business-tycoon.min.css}"/>
    <title>Welcome</title>
</head>
<body>

    <div class="jumbotron text-center">
        <h1 class="display-3">Kleingartensparte "Zur Sonneblume e.V."</h1>
    <p>Willkommen zum Login</p>
    </div>

    <div class="container-fluid text-center">
        <div class="">
            <p th:if="${loginError}">Wrong user or password</p>
                <form th:action="@{/login}" method="post">
                    <label for="username">Username</label>:
                    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                    <label for="password">Password</label>:
                    <input type="password" id="password" name="password" /> <br />
                    <input type="submit" value="Log in" />
                </form>
        </div>
    </div>
</body>
</html>