<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.css}" />
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.min.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.min.css}"/>
  <title>Welcome</title>
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container" th:fragment="container">
    <div class="navbar-header" th:fragment="header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" th:fragment="button">
        <span class="icon-bar" th:fragment="icon1"></span>
        <span class="icon-bar" th:fragment="icon2"></span>
        <span class="icon-bar" th:fragment="icon3"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}" th:fragment="text">
        <span th:fragment="icon4">Kleingartensparte "Zur Sonnenblume e.V.</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" th:fragment="collapse">
      <ul class="nav navbar-nav navbar-right" th:fragment="listhead">
        <li sec:authorize="!isAuthenticated()" class="login" th:fragment="listrow1"><a href="loginpage" th:href="@{/loginpage}" id="loginpage" th:fragment="listtext1">Login</a></li>
        <li sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post">
            <a>Logout</a>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>