<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  <!--jquery-->
  <script th:src="@{/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
  <!--Bootstrap-->
  <script th:src="@{/AdminLTE/2.4.2/bower_components/bootstrap/dist/bootstrap.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/dist/js/bootstrap.min.js"></script>
  <!--Fastclick-->
  <script th:src="@{/AdminLTE/2.4.2/bower_components/fastclick/lib/jquery.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/fastclick/lib/fastclick.js"></script>
  <!--AdminLTE-->
  <script th:src="@{/AdminLTE/2.4.2/dist/js/adminlte.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/dist/js/adminlte.min.js"></script>
  <!--Sparkline-->
  <script th:src="@{/AdminLTE/2.4.2/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
  <!--jvectormap-->
  <script th:src="@{/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script th:src="@{/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-world-mill-en.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-world-mill-en.min.js"></script>
  <!-- Slimscroll -->
  <script th:src="@{/AdminLTE/2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

  <script th:src="@{/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
          src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Chart.js/Chart.js"></script>

  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
  <title>Welcome</title>
</head>

<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <!-- Left side column. contains the logo and sidebar -->
  <aside th:fragment="navigationbackend" class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section th:fragment="sidebar" class="sidebar" style="height: auto;">


      <div class="user-panel" th:fragment="userpanel">
        <div class="pull-left image" th:fragment="imagecontainer">
          <img src="../static/resources/img/chefshat.png" th:src="@{/resources/img/chefshat.png}" class="img-circle" alt="User Image" th:fragment="image"/>
        </div>
        <div class="pull-left info" th:fragment="info">
          <p>Name des Gastronoms</p>
          <a href="#" th:fragment="backendtext1">
            <i class="fa fa-circle text-success" th:fragment="backendiframe1"></i>
            Online
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu tree" data-widget="tree" th:fragment="backendlisthead">
        <li class="header" th:fragment="backendlistrow1">DASHBOARD MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active" th:fragment="backendlistrow2">
          <a href="home" th:href="@{/home}" th:fragment="backendtext2">
            <i class="fa fa-dashboard" th:fragment="backendiframe2"></i>
            <span th:fragment="backendicon1">HOME</span>
          </a>
        </li>
        <li>
          <a href="menu" th:href="@{/menu}" th:fragment="backendtext3">
            <i class="fa fa-dashboard" th:fragment="backendiframe3"></i>
            <span th:fragment="backendicon2">MENU</span>
          </a>
        </li>
        <li>
          <a href="meal" th:href="@{/meal}" th:fragment="backendtext4">
            <i class="fa fa-dashboard" th:fragment="backendiframe3"></i>
            <span th:fragment="backendicon3">MEAL</span>
          </a>
        </li>
        <li>
          <a href="booking" th:href="@{/booking}" th:fragment="backendtext5">
            <i class="fa fa-dashboard" th:fragment="backendiframe5"></i>
            <span th:fragment="backendicon2">BOOKING</span>
          </a>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

</div>

</body>
</html>