<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.css}"/>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.min.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.min.css}"/>
  <title>Welcome</title>
</head>
<body>

<nav th:include="navigationfrontend :: navigation"
     class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-green">
  <div class="container" th:include="navigationfrontend :: container">
    <div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbar"
              th:include="navigationfrontend :: button">
        <span class="icon-bar" th:include="navigationfrontend :: icon1"></span>
        <span class="icon-bar" th:include="navigationfrontend :: icon2"></span>
        <span class="icon-bar" th:include="navigationfrontend :: icon3"></span>
      </button>
      <a class="navbar-brand" href="#" th:include="navigationfrontend :: text">
        <span th:include="navigationfrontend :: icon4"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" th:fragment="collapse">
      <ul class="nav navbar-nav navbar-right" th:fragment="listhead">
        <li th:include="navigationfrontend :: listrow1"><a
            th:include="navigationfrontend :: listtext1">Login</a></li>
        <li th:include="navigationfrontend :: listrow2">
          <form th:action="@{/logout}" method="post">
            <a>Logout</a>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron text-center">
  <h1 class="display-3">Kleingartensparte "Zur Sonneblume e.V."</h1>
</div>

<div class="col-sm-10">
  <h2>Willkommen in unserer Kleingartensparte!</h2>
  <p/>
  <h3>Login für Vereinsmitglieder</h3>
  <p>
    Unsere Vereinsmitglieder können sich <a href="/loginpage" rel="alternate">HIER</a>
    im Portal anmelden.
  </p>
  <p>
    Neue Vereinsmitglieder registriegen sich bitte <a href="/caterer/register" rel="alternate">HIER</a>.
  </p>
  <hr/>
  <h3>Vermietung Saal Vereinsgaststätte</h3>
  <p>
    Unsere Vereinsgaststätte vermitet einen Saal. Bei Interesse können Sie den Saal
    <a href="/booking/add" rel="alternate">HIER</a> mieten.</p>
</div>


<div class="container"></div>
</body>
</html>