<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Arbeitsstunden
        <small>Anzeigen der jährlichen sozialen Arbeitsstunden</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover dataTable rowclickable" role="grid" id="assignmentTable">
                  <thead>
                  <tr role="row" th:fragment="cols">
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Name">
                      Name
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Beschreibung">
                      Beschreibung
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Starttag">
                      Starttag
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Endtag">
                      Endtag
                    </th>
                    <th sec:authorize="!hasRole('ROLE_TENANTRY')" class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Teilnehmer">
                      Teilnehmer
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--/*@thymesVar id="assignments" type="java.util.List<de.gardenmanager.calendar.Assignment>"*/-->
                  <tr sec:authorize="!hasRole('ROLE_TENANTRY')" role="row" th:each="assignment : ${assignments}" th:data="@{/dashboard/assignments/{id}(id=${assignment.id})}">
                    <!--/*@thymesVar id="assignment" type="de.gardenmanager.calendar.Assignment"*/-->
                    <td th:text="${assignment.event.name}"></td>
                    <td th:text="${assignment.event.description}"></td>
                    <td th:text="${assignment.event.start}"></td>
                    <td th:text="${assignment.event.end}"></td>
                    <td th:text="${assignment.workingHoursList.size()}"></td>
                  </tr>
                  <tr sec:authorize="hasRole('ROLE_TENANTRY')" role="row" th:each="assignment : ${assignments}" th:data="@{/dashboard/events/{id}(id=${assignment.event.id})}">
                    <!--/*@thymesVar id="assignment" type="de.gardenmanager.calendar.Assignment"*/-->
                    <td th:text="${assignment.event.name}"></td>
                    <td th:text="${assignment.event.description}"></td>
                    <td th:text="${assignment.event.start}"></td>
                    <td th:text="${assignment.event.end}"></td>
                  </tr>
                  </tbody>
                  <tfoot th:include=":: cols">

                  </tfoot>
                </table>
              </div>
            </div>
            <div class="col-sm-5">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script>
  $('#assignmentTable').on( 'click', 'tbody tr', function () {
    window.location.href = $(this).attr("data");
  });
</script>
</body>
</html>