<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Arbeitsstunden
        <small>Anzeigen der jährlichen sozialen Arbeitsstunden</small>
      </h1>
    </section>

   <section class="content">
     <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <!--/*@thymesVar id="assignment" type="de.gardenmanager.calendar.Assignment"*/-->
              <h3 class="box-title" th:text="${assignment.event.name}">Assignment</h3>
              <!-- /.box-tools -->
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover dataTable rowclickable" role="grid" id="assignmentTable">
                  <thead>
                  <tr role="row" th:fragment="cols">
                    <th tabindex="0" rowspan="1" colspan="1" aria-label="">
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Pächter">
                      Pächter
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Stunden (soll)">
                      Stunden (soll)
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Stunden (ist)">
                      Stunden (ist)
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Verifizierender Obmann">
                      Verifizierender Obmann
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--/*@thymesVar id="assignment" type="de.gardenmanager.calendar.Assignment"*/-->
                  <tr role="row" th:each="wh : ${assignment.workingHoursList}" th:data="@{/dashboard/assignments/{id}/validate/{p}(id=${assignment.id},p=${wh.person.id})}">
                    <td><input type="checkbox" name="validateFull" th:value="${wh.person.id}"/></td>
                    <td th:text="${wh.person}"></td>
                    <td th:text="${wh.hoursApplied}"></td>
                    <td th:text="${wh.hoursDone}"></td>
                    <td th:text="${wh.validator}"></td>
                  </tr>
                  </tbody>
                  <tfoot th:include=":: cols">

                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script>
  $('#assignmentTable').on( 'click', 'tbody tr', function () {
    window.location.href = $(this).attr("data");
  });
</script>
</body>
</html>