<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{warning.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Verwarnungen
        <small>Erstellen einer Verwarnung</small>
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-primary">
                  <!--/*@thymesVar id="warningCreationForm" type="de.gardenmanager.validation.WarningCreationForm"*/-->
                  <form method="post" th:action="@{/dashboard/warning/add}" th:object="${warningCreationForm}" class="form-horizontal">
                  <div class="box-body">
                      <div class="form-group" th:classappend="${#fields.hasErrors('tenantId')} ? 'has-error' : 'form-group'">
                        <label class="col-sm-2 control-label" for="tenantId"
                               th:text="#{warning.add.tenant}">Name
                        </label>
                        <div class="col-sm-10">
                          <select class="form-control select2 select2-hidden-accessible"
                                  style="width: 100%;"
                                  tabindex="-1" aria-hidden="true" th:field="*{tenantId}"
                                  id="tenantId">
                            <!--/*@thymesVar id="person" type="de.gardenmanager.person.Person"*/-->
                            <!--/*@thymesVar id="tenants" type="java.lang.List<de.gardenmanager.person.Person>"*/-->
                            <option th:each="person : ${tenants}" th:text="${person.lastname} + ', ' + ${person.firstname}" th:value="${person.id}"></option>
                          </select>
                          <span th:if="${#fields.hasErrors('tenantId')}" th:errors="*{tenantId}"></span>
                        </div>
                      </div>
                      <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : 'form-group'">
                        <label class="col-sm-2 control-label"
                               for="inputDescription" th:text="#{warning.add.description}">Beschreibung</label>
                        <div class="col-sm-10">
                          <textarea id="inputDescription" class="form-control"
                                    th:placeholder="#{warning.add.description}"
                                    th:field="*{description}"></textarea>
                          <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>
                      </div>

                    </div>
                    <div class="box-footer">
                      <button class="btn btn-info pull-right" type="submit"
                              th:text="#{warning.add.save}">Verwarnung
                        speichern</button>
                      <a class="btn btn-default" th:href="@{/dashboard/warning}"
                         th:text="#{abort}">Abbrechen</a>
                    </div>
                  </form>
                </div>
                <!-- /. box -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>