<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{application})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Bewerbungen
        <small>Anschauen und bearbeiten von Bewerbungen.</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" th:text="#{applications.boxtitle}">All Applications</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-hover dataTable" id="table">
                <thead th:fragment="cols">
                <tr>
                  <th class="sorting" aria-label="Parzelle">
                    Parzelle
                  </th>
                  <th class="sorting" aria-label="Name">
                    Name
                  </th>
                  <th class="sorting" aria-label="Vorname">
                    Vorname
                  </th>
                  <th class="sorting" aria-label="Telefon">
                    Telefon
                  </th>
                  <th class="sorting" aria-label="E-Mail">
                    E-Mail
                  </th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="application" type="de.gardenmanager.application.Application"*/-->
                <tr role="row" th:each="application : ${applications}">
                  <td th:text="${application.parcel}"></td>
                  <td th:text="${application.name}"></td>
                  <td th:text="${application.firstname}"></td>
                  <td th:text="${application.telephone}"></td>
                  <td th:text="${application.email}"></td>
                  <td>
                    <a th:href="@{/dashboard/application/delete/{id}(id=${application.id})}"
                       class="btn btn-block btn-danger">Löschen</a>
                    <a th:href="@{/dashboard/application/accept/{id}(id=${application.id})}"
                       class="btn btn-block btn-success">Annehmen
                    </a>
                  </td>
                </tr>
                </tbody>
                <tfoot th:include=":: cols">

                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#table').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      }
    });
  });
  /*]]>*/
</script>
</body>
</html>