<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{restaurant.menu.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">

    <section class="content-header">
      <h1>
        Menüs
        <small>Legen sie hier ihre Menüs an!</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <!--/*@thymesVar id="menuForm" type="de.gardenmanager.validation.MenuCreationForm"*/-->
      <form method="post" th:action="@{/dashboard/restaurant/menu/new}" th:object="${menuForm}">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title" th:text="#{restaurant.menu.add.boxtitle}">Neues Menü
                  anlegen</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="form-group"
                       th:classappend="${#fields.hasErrors('name')} ? 'has-error' : 'form-group'">
                    <label class="col-sm-2"></label>
                    <label class="col-sm-1 control-label" for="inputMenuName">Menüname</label>
                    <div class="col-sm-3">
                      <input id="inputMenuName" class="form-control" placeholder="Menüname"
                             name="name" required="required" th:field="*{name}"/>
                      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-10">
                    <table>
                      <tr>
                        <th>
                          Vorspeisen
                        </th>
                        <th>
                          Hauptgerichte
                        </th>
                        <th>
                          Nachspeisen
                        </th>
                      </tr>
                      <!--/*@thymesVar id="dish" type="de.gardenmanager.restaurant.Dish"*/-->
                      <tr>
                        <th>
                          <div class="form-group" id="starters">
                            <select multiple="multiple" class="form-control select2 select2-hidden-accessible"
                                    style="width: 100%;"
                                    tabindex="-1"
                                    aria-hidden="true" name="Vorspeisen" th:field="*{starters}">
                              <option th:each="dish : ${starters}" th:text="${dish.name}"
                                      th:field="*{starters}" th:value="${dish.name}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('starters')}"
                                  th:errors="*{starters}"></span>
                          </div>
                        </th>
                        <th>
                          <div class="form-group" id="mainCourses">
                            <select multiple="multiple" class="form-control select2 select2-hidden-accessible"
                                    style="width: 100%;"
                                    tabindex="-1"
                                    aria-hidden="true" name="Hauptgericht" th:field="*{maincourses}">
                              <option th:each="dish : ${maincourses}" th:text="${dish.name}"
                                      th:field="*{maincourses}" th:value="${dish.name}"></option>
                            </select>
                          </div>
                        </th>
                        <th>
                          <div class="form-group" id="desserts">
                            <select multiple="multiple" class="form-control select2 select2-hidden-accessible"
                                    style="width: 100%;"
                                    tabindex="-1"
                                    aria-hidden="true" name="dessert1" th:field="*{desserts}">
                              <option th:each="dish : ${desserts}" th:text="${dish.name}"
                                      th:field="*{desserts}" th:value="${dish.name}"></option>
                            </select>
                          </div>
                        </th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-block btn-success"
                         method="post"><i class="fa fa-check" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>

  </div>

</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>