<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{restaurant.dishes.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        <span th:text="#{restaurant.dishes.add.title}" th:remove="tag">Gerichte</span>
        <small th:text="#{restaurant.dishes.add.subtitle}">Legen sie hier ihre Gerichte an!</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" th:text="#{restaurant.dishes.add.newdish}">Neues Gericht
              anlegen:</h3>
          </div>
          <!--/*@thymesVar id="dishForm" type="de.gardenmanager.validation.DishCreationForm"*/-->
          <!--/*@thymesVar id="name" type="java.lang.String"*/-->
          <!--/*@thymesVar id="allergen" type="java.lang.String"*/-->
          <!--/*@thymesVar id="price" type="java.lang.Number"*/-->
          <form method="post" th:action="@{/dashboard/restaurant/dish/new}" th:object="${dishForm}"
                class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputDishName"
                       th:text="#{restaurant.dishes.add.form.name}">Bezeichnung</label>
                <div class="col-sm-10">
                  <input id="inputDishName" class="form-control" th:field="*{name}"
                         th:placeholder="#{restaurant.dishes.add.form.name.placeholder}"/>
                  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputAllergen"
                       th:text="#{restaurant.dishes.add.form.allergene}">Allergene</label>
                <div class="col-sm-10">
                  <input id="inputAllergen" class="form-control"
                         th:placeholder="#{restaurant.dishes.add.form.allergene.placeholder}"
                         th:field="*{allergen}"/>
                  <span th:if="${#fields.hasErrors('allergen')}" th:errors="*{allergen}"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPrice"
                       th:text="#{restaurant.dishes.add.form.price}">Preis</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">€</span>
                    <input id="inputPrice" class="form-control" placeholder="0.00"
                           th:field="*{price}"/>
                  </div>
                  <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="selectType"
                       th:text="#{restaurant.dishes.add.form.type}">Speiseart</label>
                <div class="col-sm-10">
                  <select id="selectType" class="form-control" th:field="*{dishType}">
                    <option value="Vorspeise" th:text="#{restaurant.dishes.add.form.type.starter}">Vorspeise</option>
                    <option value="Hauptgericht" th:text="#{restaurant.dishes.add.form.type.main}">Hauptgericht</option>
                    <option value="Dessert" th:text="#{restaurant.dishes.add.form.type.dessert}">Dessert</option>
                  </select>
                  <span th:if="${#fields.hasErrors('dishType')}" th:errors="*{dishType}"></span>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-info pull-right" type="submit" th:text="#{restaurant.dishes.add.form.add}">Gericht hinzufügen!</button>
              <a class="btn btn-default" th:href="@{/dashboard/restaurant/dish}" th:text="#{abort}">Abbrechen</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>