<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{accounting})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<style>
  /* http://tobiasahlin.com/spinkit/ */
  .spinner {
    margin: 0 50px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }

  .spinner > div {
    background-color: #00c0ef;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
</style>
<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Abrechungssystem
        <small>Zeigt die aktuelle Rechnung an und leitet weiter zum Eintragen der Messwerte</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="col-xs-12" sec:authorize="hasAnyRole('ROLE_TREASURER', 'ROLE_CEO', 'ROLE_ADMIN')">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Gesamtz&auml;hlerst&auml;nde</h3>
            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-4" th:each="total : ${totals}">
              <p th:text="${total.key}"></p>
              <p th:text="${total.value}"></p>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>

      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Alle Rechnungen</h3>
            <div sec:authorize="hasAnyRole('ROLE_TREASURER','ROLE_ADMIN')" class="box-tools pull-right">
              <a id="createinvoice" style="display: block;"
                 th:href="@{/dashboard/accounting/createinvoices}"
                  class="btn btn-block btn-info"><i
                  class="fa fa-plus-square" aria-hidden="true"></i> Rechnungen anlegen</a>
              <div id="loadingindicator" class="spinner" style="display: none;">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
            </div>
            <!-- /.box-tools -->
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive" id="invoicesTable">
              <thead th:fragment="cols">
              <tr>
                <th class="sorting" aria-label="Pächter">
                  Pächter
                </th>
                <th class="sorting" aria-label="Betrag">
                  Betrag
                </th>
                <th class="sorting" aria-label="Bezahldatum">
                  Bezahldatum
                </th>
                <th class="sorting" aria-label="Einzutragen bis">
                  Einzutragen bis
                </th>
              </tr>
              </thead>
              <tbody>
              <!--/*@thymesVar id="AllInvoices" type="java.util.List<de.gardenmanager.accounting.invoice.Invoice>"*/-->
              <tr th:each="invoice : ${AllInvoices}">
                <!--/*@thymesVar id="invoice" type="de.gardenmanager.accounting.invoice.Invoice"*/-->
                <td th:text="${invoice.parcel.currentOwner.lastname}"></td>
                <td th:text="${invoice.getAmount()}"></td>
                <td th:text="${invoice.paidBy}"></td>
                <td th:text="${invoice.meterReadingDue}"></td>
                <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TREASURER')">
                  <a title="Unterschreiben"
                     th:href="@{/dashboard/accounting/{invoice}/sign(invoice=${invoice.id})}"
                     class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TREASURER')">
                  <a title="Rechnung als bezahlt markieren"
                     th:href="@{/dashboard/accounting/{invoice}/paid(invoice=${invoice.id})}"
                     class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a th:href="@{/dashboard/accounting/{invoice}/myinvoice(invoice=${invoice.id})}" class="btn btn-block btn-info"><i class="fa fa-calculator" aria-hidden="true"></i></a>
                </td>
              </tr>
              </tbody>
              <tfoot th:include=":: cols">

              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div th:include="templatebackend :: scripts" th:remove="tag"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#invoicesTable').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      }
    });
  });
  /*]]>*/
</script>
<script>
  $("#createinvoice").click(function(){
    $(this).hide();
    $("#loadingindicator").show();
  })
</script>
</body>
</html>