<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Buchungsanzeige
        <small>Alle Buchungen der Saals und ihre Termine</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-boardered table-hover dataTable" role="grid">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Nachname">Name</th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Von">Datum</th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Bis">Datum</th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Beschreibung">Beschreibung</th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Aktionen">Aktionen</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--/*@thymesVar id="reservation" type="de.gardenmanager.roombooking.Reservation"*/-->
                  <tr role="row" th:each="reservation : ${bookings}">
                    <td th:text="${reservation.owner}"></td>
                    <td th:text="${reservation.start}"></td>
                    <td th:text="${reservation.end}"></td>
                    <td th:text="${reservation.desciption}"></td>
                    <td>
                      <form th:action="@{/dashboard/restaurant/booking/delete/} + ${reservation.id}" action="">
                        <button class="btn btn-block btn-danger">Löschen</button>
                      </form>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1">
                      Name
                    </th>
                    <th rowspan="1" colspan="1">
                      Von
                    </th>
                    <th rowspan="1" colspan="1">
                      Bis
                    </th>
                    <th rowspan="1" colspan="1">
                      Beschreibung
                    </th>
                    <th rowspan="1" colspan="1">
                      Aktionen
                    </th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="col-sm-5">
              <form th:action="@{/dashboard/restaurant/booking/add}" action="booking">
                <button class="btn btn-block btn-default btn-lg" type="submit">
                  Termin eintragen!
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>