<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{dashboard})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <form id="cancelForm" th:action="@{/dashboard/home}"></form>


  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout"
           th:classappend="'callout-' + ${message.severityCss}"
           th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>

      <div class="box">
        <!--/*@thymesVar id="catererRegistrationForm" type="de.gardenmanager.validation.CatererRegistrationForm"*/-->
        <!--/*@thymesVar id="name" type="java.lang.String"*/-->
        <!--/*@thymesVar id="password" type="java.lang.String"*/-->
        <form th:action="@{/dashboard/caterer/register}" action="#" method="post"
              th:object="${catererRegistrationForm}">
          <div class="box-body">
            <div class="form-group has-feedback">
              <input id="Nutzername" class="form-control" placeholder="Nutzername" type="text"
                     th:field="*{name}" th:errorclass="fieldError"/>
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="form-group has-feedback">
              <input id="Passwort" class="form-control" placeholder="Passwort" type="password"
                     th:field="*{password}" th:errorclass="fieldError"/>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-block btn-danger btn-flat" form="cancelForm">Abbrechen
                </button>
              </div>
              <div class="col-xs-4"></div>
              <div class="col-xs-4">
                <button class="btn btn-primary btn-block btn-flat" type="submit" th:text="#{register}">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts" th:remove="tag"></div>

</body>
</html>