<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{calendar})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<link rel="stylesheet" type="text/css"
      th:href="@{/webjars/fullcalendar/3.4.0/fullcalendar.min.css}"/>
<link rel="stylesheet" type="text/css"
      th:href="@{/webjars/fullcalendar/3.4.0/fullcalendar.print.min.css}" media="print"/>

<style>
  .fc-addEvent-button {
    background-color: rgb(0, 166, 90) !important;
    background-image: rgb(0, 166, 90) !important;
    background: rgb(0, 166, 90) !important;
    border-color: rgb(0, 141, 76) !important;
  }

  .fc-addEvent-button:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f271  ";
    margin-right: 5px;
  }
</style>

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        <span th:text="#{events.title}">Veranstaltungen</span>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-body">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="col-md-4">
                <i class="fa fa-circle" aria-hidden="true" style="color: #f06954;"></i>&nbsp;<span
                  th:text="#{calendar.type.event}"></span>
              </div>
              <div class="col-md-4">
                <i class="fa fa-circle" aria-hidden="true" style="color: #5469f0;"></i>&nbsp;<span
                  th:text="#{calendar.type.assignment}"></span>
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>
        <div class="col-md-4">
          <div class="box box-info">
            <div class="box-header">
              <h3 th:text="#{calendar.assignments}"></h3>
            </div>
            <div class="box-body">
              <!--/*@thymesVar id="events_a" type="java.lang.Iterable<de.gardenmanager.calendar.Event>"*/-->
              <ul th:each="event : ${events_a}">
                <li th:text="${event}"></li>
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a class="btn btn-default" href="?assignments=all" th:text="#{calendar.allassignments}">show all</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<div th:include="templatebackend :: scripts"></div>
<script th:src="@{/webjars/momentjs/2.20.1/min/moment-with-locales.min.js}"></script>
<script th:src="@{/webjars/fullcalendar/3.4.0/fullcalendar.min.js}"></script>
<script th:src="@{/webjars/fullcalendar/3.4.0/locale-all.js}"></script>
<script type="text/javascript" th:inline="javascript">
  var events = [];
</script>
<!--/*@thymesVar id="events" type="java.lang.Iterable<de.gardenmanager.calendar.Event>"*/-->
<th:block th:each="event : ${events}">
  <script th:if="${!event.hasAssignment()}" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    events.push({
      title: /*[[${event.name}]]*/ "",
      start: /*[[${event.start.toString()}]]*/ "",
      end: /*[[${event.end.toString()}]]*/ "",
      url: /*[[@{/dashboard/events/{id}(id=${event.id})}]]*/ "#",
      backgroundColor: '#f06954',
      borderColor: '#ff6954'
    });
    /*]]>*/
  </script>
  <script th:if="${event.hasAssignment()}" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    events.push({
      title: /*[[${event.name}]]*/ "",
      start: /*[[${event.start.toString()}]]*/ "",
      end: /*[[${event.end.toString()}]]*/ "",
      url: /*[[@{/dashboard/events/{id}(id=${event.id})}]]*/ "#",
      backgroundColor: '#5469f0',
      borderColor: '#5469ff'
    });
    /*]]>*/
  </script>
</th:block>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $('#calendar').fullCalendar({
    customButtons: {
      addEvent: {
        text: /*[[#{calendar.addevent}]]*/'custom!',
        click: function () {
          window.open(
              /*[[@{/dashboard/events/add}]]*/ "",
              "_self"
          );
        }
      }
    },
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,listYear addEvent'
    },
    events: events,
    timeFormat: 'HH:mm',
    editable: false,
    droppable: false,
    height: "auto"
  })
  /*]]>*/
</script>
</body>
</html>