<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{restaurant.dishes})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Gerichte
        <small>Zeigt die Gerichte an und kann weiterleiten zum Erstellen von Gerichten.</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <form th:action="@{/dashboard/restaurant/dish/add}" action="db_addDish">
          <button class="btn btn-block btn-default btn-lg" type="submit">
            Gericht erstellen!
          </button>
        </form>
        </div>
      </div>
      <div class="row">
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover dataTable" role="grid">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Name">
                      Name
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Allergene">
                      Allergene
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Preis">
                      Preis
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Actions">
                      Aktionen
                    </th>
                  </tr>
                  </thead>
                  <tbody th:remove="all-but-first">
                  <!--/*@thymesVar id="dish" type="de.gardenmanager.restaurant.Dish"-->
                  <!--/*@thymesVar id="dishList" type="List<String>*/-->
                  <tr role="row" th:each="dish : ${dishList}">
                    <td th:text="${dish.name}"></td>
                    <td th:text="${dish.allergens}"></td>
                    <td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
                    <td>
                      <form th:action="@{/dashboard/dish/remove/} + ${dish.name}" action="">
                        <button class="btn btn-block btn-danger">Löschen</button>
                      </form>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1">
                      Name
                    </th>
                    <th rowspan="1" colspan="1">
                      Allergene
                    </th>
                    <th rowspan="1" colspan="1">
                      Preis
                    </th>
                    <th rowspan="1" colspan="1">
                      Aktionen
                    </th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="col-sm-5">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>