<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{events.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<link rel="stylesheet" type="text/css"
      th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}"/>
<!--/*@thymesVar id="eventEditForm" type="de.gardenmanager.validation.EventCreationForm"*/-->
<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar"></aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        <span th:text="#{events.title}">Veranstaltungen</span>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-primary">
                  <form th:object="${eventEditForm}"
                        th:action="@{/dashboard/events/{id}/edit(id=${id})}"
                        class="form-horizontal" method="post">
                    <div class="box-body">
                      <div class="form-group"
                           th:classappend="${#fields.hasErrors('start')} ? 'has-error' : 'form-group'">
                        <label class="col-sm-2 control-label"
                               for="startdatepicker"
                               th:text="#{events.add.form.start}">Startdatum</label>
                        <div class="col-sm-10">
                          <div class='input-group date' id='datetimepicker6'>
                            <input type='text' id="startdatepicker" class="form-control"
                                   th:field="*{start}"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                          <span th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></span>
                        </div>
                      </div>
                      <div class="form-group"
                           th:classappend="${#fields.hasErrors('end')} ? 'has-error' : 'form-group'">
                        <label class="col-sm-2 control-label"
                               for="finaldatepicker"
                               th:text="#{events.add.form.end}">Enddatum</label>
                        <div class="col-sm-10">
                          <div class='input-group date' id='datetimepicker7'>
                            <input type='text' id="finaldatepicker" class="form-control"
                                   th:field="*{end}"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                          <span th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></span>
                        </div>
                      </div>
                      <div class="form-group"
                           th:classappend="${#fields.hasErrors('name')} ? 'has-error' : 'form-group'">
                        <label class="col-sm-2 control-label" for="inputOwner"
                               th:text="#{events.add.form.title}">Name</label>
                        <div class="col-sm-10">
                          <input type="text" id="inputOwner" class="form-control"
                                 placeholder="Terminname" th:field="*{name}"/>
                          <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                      </div>
                      <div class="form-group"
                           th:classappend="${#fields.hasErrors('description')} ? 'has-error' : 'form-group'">
                        <label class="col-sm-2 control-label"
                               for="inputDescription" th:text="#{events.add.form.description}">Beschreibung</label>
                        <div class="col-sm-10">
                          <textarea id="inputDescription" class="form-control"
                                    placeholder="Beschreibung" th:field="*{description}"></textarea>
                          <span th:if="${#fields.hasErrors('description')}"
                                th:errors="*{description}"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" th:field="*{publicvisible}"/>&nbsp;<span
                                th:text="#{events.add.form.public}"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" th:field="*{assignment}"/>&nbsp;<span
                                th:text="#{events.add.form.assignment}"></span>
                            </label>
                          </div>
                          <i th:text="#{events.note}">Note: an assignment is never public!</i>
                        </div>
                      </div>

                    </div>
                    <div class="box-footer">
                      <button class="btn btn-info pull-right" type="submit" id="btnSubmit"
                              th:text="#{events.add.form.save}">Veranstaltung
                        erstellen!
                      </button>
                      <a class="btn btn-default" th:href="@{/dashboard/calendar}"
                         th:text="#{abort}">Abbrechen</a>
                    </div>
                  </form>
                </div>
                <!-- /. box -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script th:src="@{/webjars/momentjs/2.20.1/min/moment-with-locales.min.js}"></script>
<script
    th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:inline="javascript">
  $(function () {
    $('#startdatepicker').datetimepicker({
      defaultDate: new Date(/*[[${eventEditForm.start.toString()}]]*/ ""),
      minDate: new Date(),
      sideBySide: true,
      showTodayButton: true,
      format: "llll",
      useCurrent: false
    });
    $('#finaldatepicker').datetimepicker({
      defaultDate: new Date(/*[[${eventEditForm.end.toString()}]]*/ ""),
      minDate: new Date(),
      sideBySide: true,
      showTodayButton: true,
      format: "llll",
      useCurrent: false
    });
    $("#startdatepicker").on("dp.change", function (e) {
      $('#finaldatepicker').data("DateTimePicker").minDate(e.date);
    });
    $("#finaldatepicker").on("dp.change", function (e) {
      $('#startdatepicker').data("DateTimePicker").maxDate(e.date);
    });

    jQuery("#startdatepicker").data('DateTimePicker').date(new Date(/*[[${eventEditForm.start.toString()}]]*/ ""));
    jQuery("#finaldatepicker").data('DateTimePicker').date(new Date(/*[[${eventEditForm.end.toString()}]]*/ ""));
  });
</script>
<script>
  $("#eventform").submit(function (event) {
    //event.preventDefault();

    var startdate = new Date($("#startdatepicker").val());
    var enddate = new Date($("#finaldatepicker").val());

    $("#startdatepicker").val(startdate.toISOString());
    $("#finaldatepicker").val(enddate.toISOString());
  });
</script>
<script>
  $("#btnSubmit").click(function () {
    var startdate = new Date($("#startdatepicker").val());
    var enddate = new Date($("#finaldatepicker").val());

    $("#startdatepicker").val(startdate.toISOString());
    $("#finaldatepicker").val(enddate.toISOString());

    $("#eventform").submit();
  })
</script>
</body>
</html>