<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{persons})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        P&auml;chter
        <small>Zeigt die Pächter und kann weiterleiten zum Erstellen von Pächtern</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-warning" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="box-header with-border">
              <h3 class="box-title">Options</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <span class="label label-primary">DEV only</span>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-sm-3"><a class="btn btn-block btn-large btn-warning"
                                       th:href="@{/dashboard/accounts/generateperson}"><i
                  class="fa fa-user-plus" aria-hidden="true"></i> P&auml;chter generieren</a>
              </div>
              <div class="col-sm-3"><a class="btn btn-block btn-large btn-warning"
                                       th:href="@{/dashboard/accounts/generatechairman}"><i
                  class="fa fa-user-plus" aria-hidden="true"></i> Obmann generieren</a></div>
              <div class="col-sm-3"><a class="btn btn-block btn-large btn-warning"
                                       th:href="@{/dashboard/accounts/generatetreasurer}"><i
                  class="fa fa-user-plus" aria-hidden="true"></i> Schatzmeister generieren</a>
              </div>
              <div class="col-sm-3"><a class="btn btn-block btn-large btn-warning"
                                       th:href="@{/dashboard/accounts/generateceo}"><i
                  class="fa fa-user-plus" aria-hidden="true"></i> Vorstand generieren</a></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <i>Gernerierte Nutzer haben das Passwort <code>password123</code></i>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#userTable').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      }
    });
  });
  /*]]>*/
</script>
</body>
</html>