<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{dashboard})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-md-4" th:if="${invoiceavailable}">
          <!--/*@thymesVar id="invoiceavailable" type="java.lang.Boolean"*/-->
          <div class="info-box bg-red" >
            <span class="info-box-icon"><i class="ion ion-ios-timer-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text" th:text="#{dashboard.invoiceavailable}">New Invoice Available</span>
              <span class="info-box-text" th:text="#{dashboard.invoiceavailable.text}">Add your meter readings now!</span>

              <div class="progress">
                <!--/*@thymesVar id="invoicepercentage" type="java.lang.Double"*/-->
                <div class="progress-bar"
                     th:style="'width: ' + ${invoicepercentage} + '%'"></div>
              </div>
              <!--/*@thymesVar id="invoice" type="de.gardenmanager.accounting.invoice.Invoice"*/-->
              <span class="progress-description" th:text="#{dashboard.meterreadingdue(${invoice.meterReadingDue})}">
                    Meter reading due 01.01.1970 0:00:00
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="col-md-4">
          <!--/*@thymesVar id="hoursdone" type="java.lang.Double"*/-->
          <div sec:authorize="!hasAnyRole('ROLE_CHAIRMAN', 'ROLE_TREASURER', 'ROLE_CEO')" class="info-box bg-aqua" th:if="${hoursdone != null}">
            <span class="info-box-icon"><i class="ion ion-ios-ionic-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text" th:text="#{dashboard.workinghours}">passed Working
                Hours</span>
              <span class="info-box-number" th:text="${hoursdone}">42</span>

              <div class="progress">
                <!--/*@thymesVar id="invoicepercentage" type="java.lang.Double"*/-->
                <div class="progress-bar"
                     th:style="'width: ' + ${T(java.lang.Math).min(100.0, ((hoursdone)/T(de.gardenmanager.calendar.WorkingHours).MIN_HOURS_PER_YEAR)*100)} + '%'"></div>
              </div>
              <!--/*@thymesVar id="invoice" type="de.gardenmanager.accounting.invoice.Invoice"*/-->
              <span class="progress-description"
                    th:text="#{dashboard.hoursdue(${4 - hoursdone})}">
                    Sill 4 hours due
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<div th:include="templatebackend :: scripts" th:remove="tag"></div>
</body>
</html>