<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

		<div class="content-wrapper" style="min-height: 902.8px;">
			<section class="content-header">
				<h1>
					Meine Rechungen
				</h1>
			</section>

			<section class="content">
				<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
				<div class="row">
					<div class="box-body">
						<div class="dataTables_wrapper from-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6"></div>
								<div class="col-sm-6"></div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<!--/*@thymesVar id="invoice" type="de.gardenmanager.accounting.invoice.Invoice"*/-->
									<div th:unless="${invoice == null}">
										<table class="table table-bordered table-hover dataTable"
											role="grid" th:each="invoice : ${myinvoice}>
											<thead>

												<tr role="row">
													<th class="sorting" style="width: 25%" aria-label="Name">Rechnung
														für <span
														th:text="${invoice.parcel.currentOwner.firstname}"></span>
														<span
														th:text="${invoice.parcel.currentOwner.lastname}"></span>, Parzelle <span
														th:text="${invoice.parcel.location}"></span>
													</th>
													<th class="sorting" tabindex="0" style="width: 0.7%"
														aria-label="Name"></th>
													<th class="sorting" tabindex="0" style="width: 74%"
														aria-label="Name"></th>
												</tr>
											</thead>

											<tbody>
												<!--/*@thymesVar id="meal" type="de.gardenmanager.restaurant.Meal"-->
												<!--/*@thymesVar id="mealList" type="List<String>*/-->
												<tr>
													<td>Fläche:</td>
													<td th:text="${invoice.parcel}"></td>
													<td>Quadratmeter</td>
												</tr>
												<tr>
													<td>Kosten pro Quadratmeter:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.flaecheKostenJeQuadratmeter, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Betrag:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.fleacheBetrag, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Stromverbrauch</td>
													<td th:text="${invoice.stromVerbrauch}"></td>
													<td>Kilowattstunden</td>
												</tr>
												<tr>
													<td>Stromkosten:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.stromKostenJeKWh, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Stromkosten Betrag:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.stromVerbrauchBetrag, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Wasserverbrauch:</td>
													<td th:text="${invoice.wasserVerbrauch}"></td>
													<td>Kubikmeter</td>
												</tr>
												<tr>
													<td>Wasserkosten:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.wasserKostenJeKubikmeter, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Wasserkosten Betrag:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.wasserVerbrauchBetrag, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>GrundmieteWasseruhr:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.grundMieteWasseruhr, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Grundmiete Stromzähler:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.grundMieteStromzaehler, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Mitgliedsbeitrag:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.mitgliedsBeitrag, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Sozialbeitrag:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.sozialbeitrag, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Rechtsschutz:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.rechtsschutz, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Winterdienst:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.winterdienst, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Aufwandspauschale:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.aufwandsPauschale, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td>Sonstige Auslagen:</td>
													<td
														th:text="${#numbers.formatDecimal(invoice.sonstigeAuslagen, 0, 'COMMA', 2, 'POINT')}"></td>
													<td>€</td>
												</tr>
												<tr>
													<td><b>Summe:</b></td>
													<td><b><span
														th:text="${#numbers.formatDecimal(invoice.summe, 0, 'COMMA', 2, 'POINT')}">10.00</span></b></td>
													<td><b>€</b></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-sm-5"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>