<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Meine Rechungen
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout"
           th:classappend="'callout-' + ${message.severityCss}"
           th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box">
          <div class="box-body">
            <div class="dataTables_wrapper from-inline dt-bootstrap">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover dataTable"
                         role="grid">
                    <thead>
                    <tr role="row">
                      <th tabindex="0" rowspan="1" colspan="1"
                          aria-label="Name">Meine Rechnung
                      </th>
                    </tr>
                    </thead>
                    <tbody th:each="invoice : ${myinvoice}">
                    <tr role="row">
                      <td>Rechnung für die Parzelle
                        <span
                            th:text="${invoice.parcel.location}"></span> von
                        <span
                            th:text="${invoice.parcel.currentOwner.firstname}"></span>
                        <span
                            th:text="${invoice.parcel.currentOwner.lastname}"></span>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <!--/*@thymesVar id="invoice" type="de.gardenmanager.accounting.invoice.Invoice"*/-->
                    <tr role="row" th:each="invoiceItems : ${invoice.invoiceItems}">
                      <td th:text="${invoiceItems.name}"></td>
                      <td th:text="${invoiceItems.price}"></td>
                    </tr>
                    <tr role="row" th:each="invoice : ${myinvoice}">
                      <td>Gesamtpreis:</td>
                      <td th:text="${invoice.amount}"></td>
                    </tr>
                    <tr role="row" th:each="invoice : ${myinvoice}">
                      <td>Bezahlt am:</td>
                      <td th:text="${invoice.paidBy}"></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr th:each="invoice : ${myinvoice}">
                      <td>Zum Eintragen der Zählerstände:</td>
                      <td>
                        <a th:href="@{/dashboard/accounting/meterreading}"
                           class="btn btn-success"><i aria-hidden="true"
                                                                class="fa fa-calculator"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>