<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{events.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<link rel="stylesheet" type="text/css"
      th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}"/>
<!--/*@thymesVar id="editEvent" type="de.gardenmanager.calendar.Event"*/-->
<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar"></aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        <span th:text="#{events.title}">Veranstaltungen</span>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                      <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <b th:text="#{events.add.form.start}">Username</b>
                          <span class="pull-right" th:text="${editEvent.start}">1,322</span>
                        </li>
                        <li class="list-group-item">
                          <b th:text="#{events.add.form.end}">Username</b>
                          <span class="pull-right" th:text="${editEvent.end}">1,322</span>
                        </li>
                        <li class="list-group-item">
                          <b th:text="#{events.add.form.title}">Username</b>
                          <span class="pull-right" th:text="${editEvent.name}">1,322</span>
                        </li>
                        <li class="list-group-item">
                          <b th:text="#{events.add.form.description}">Username</b>
                          <span class="pull-right" th:text="${editEvent.description}">1,322</span>
                        </li>
                        <li class="list-group-item" th:if="${editEvent.hasAssignment()}">
                          <i th:text="#{events.isassignemnt}">Username</i>
                        </li>
                      </ul>
                    </div>
                    <div class="box-footer">
                      <a class="btn btn-success pull-right" th:text="#{events.apply}" th:if="${editEvent.hasAssignment()}" th:href="@{/dashboard/assignments/{id}/apply(id=${editEvent.assignment.id})}">Veranstaltung
                        erstellen!
                      </a>
                      <a class="btn btn-info pull-right" sec:authorize="hasAnyRole('ROLE_CHAIRMAN', 'ROLE_CEO', 'ROLE_ADMIN')" th:text="#{events.edit}" th:href="@{/dashboard/events/{id}/edit(id=${editEvent.id})}">Veranstaltung
                        erstellen!
                      </a>
                      <a class="btn btn-default" th:href="@{/dashboard/calendar}"
                         th:text="#{back}">Abbrechen</a>
                    </div>
                </div>
                <!-- /. box -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>