<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{restaurant.menu})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Menüs
        <small>Zeigt die Speisekarten und kann weiterleiten zum Erstellen von Speisekarten</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <form th:action="@{/dashboard/restaurant/menu/add}" action="db_addMenu">
            <button class="btn btn-block btn-default btn-lg" type="submit">
              Menü erstellen!
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">

          <div th:each="menu : ${menuList}" class="box">
            <div class="box-header with-border">
              <i class="fa fa-cutlery"></i>
              <!--/*@thymesVar id="menu" type="de.gardenmanager.restaurant.Menu"*/-->
              <h3 class="box-title" th:text="${menu.name}" text="">Speisekarte</h3>
            </div>
            <div class="box-body">
              <div class="dataTables_wrapper from-inline dt-bootstrap">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover dataTable" role="grid">
                    <thead>
                    <tr role="row">
                    </tr>
                    <th>Essen</th>
                    </thead>
                    <tbody th:each="menu : ${menuList}">
                    <!--/*@thymesVar id="menu" type="de.gardenmanager.restaurant.Menu"*/-->
                    <tr th:each="starters : ${menu.starters}" role="row">
                      <td th:text="${starters.name}"></td>
                      <td th:text="${starters.price}"></td>
                      <td th:text="${starters.allergens}"></td>
                    </tr>
                    <tr role="row" th:each="maincourses : ${menu.mainCourses}" >
                      <td th:text="${maincourses.name}"></td>
                      <td th:text="${maincourses.price}"></td>
                      <td th:text="${maincourses.allergens}"></td>
                    </tr>
                    <tr role="row" th:each="desserts : ${menu.desserts}">
                      <td th:text="${desserts.name}"></td>
                      <td th:text="${desserts.price}"></td>
                      <td th:text="${desserts.allergens}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <div class="col-xs-4">
                <form th:action="@{/dashboard/restaurant/menu/remove/} + ${menu.name}" action="">
                  <button class="btn btn-block btn-danger">Löschen</button>
                </form>
              </div>
              <!--/*@thymesVar id="menu" type="de.gardenmanager.restaurant.Menu"*/-->
              <div class="col-xs-4" th:switch="${menu.statePublic}">
                <form th:case="false"
                      th:action="@{/dashboard/restaurant/menu/publish/} + ${menu.name}" action="">
                  <button class="btn btn-block btn-default">
                    Veröffentlichen
                  </button>
                </form>
                <form th:case="true"
                      th:action="@{/dashboard/restaurant/menu/unpublish/} + ${menu.name}" action="">
                  <button class="btn btn-block btn-default">
                    Privatisieren
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>