<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

		<div class="content-wrapper" style="min-height: 902.8px;">
			<section class="content-header">
				<h1>
					Meine Rechnungen
				</h1>
			</section>

			<section class="content">
				<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
				<div class="row">
					<div class="box-body">
						<div class="dataTables_wrapper from-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6"></div>
								<div class="col-sm-6"></div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="width: 50%">Zählestände Parzele "<span
													th:text="${parcel.location}"></span>"
												</th>
											</tr>
										</thead>

										<tr>
											<th><form
													th:action="@{/dashboard/invoice/meterReading/add}"
													th:object="${meterReadingForm}" class="form-horizontal"
													method="post">
													<div class="box-body" style="width: 50%">
														<input type="hidden" name="id" value="0"
															th:value="${parcel.id}" />
														<div class="form-group">
															<label class="control-label" for="inputWater">Wasser:</label>
															<div>
																<input id="inputWater" class="form-control"
																	placeholder="Wasser" th:field="*{water}" /> <span
																	th:if="${#fields.hasErrors('water')}"
																	th:errors="*{water}"></span>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label" for="inputElectricity">Strom:</label>
															<div>
																<input id="inputElectricity" class="form-control"
																	placeholder="Strom" th:field="*{electricity}" /> <span
																	th:if="${#fields.hasErrors('electricity')}"
																	th:errors="*{electricity}"></span>
															</div>
														</div>
														<button class="btn btn-info" type="submit">Zählerstand
															eintragen</button>
													</div>
												</form></th>
										</tr>


									</table>
								</div>
								<div class="col-sm-5"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>