<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{persons})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        P&auml;chter
        <small>Zeigt die Pächter und kann weiterleiten zum Erstellen von Pächtern</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Alle P&auml;chter</h3>
              <div class="box-tools pull-right">
                <a th:href="@{/dashboard/accounts/add}" class="btn btn-block btn-success">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Pächter erstellen
                </a>
              </div>
              <!-- /.box-tools -->
            </div>
            <div class="box-body">
              <table class="table table-bordered table-hover table-responsive rowclickable" id="userTable">
                <thead th:fragment="cols">
                <tr>
                  <th class="sorting" aria-label="Vorname">
                    Vorname
                  </th>
                  <th class="sorting" aria-label="Nachname">
                    Nachname
                  </th>
                  <th class="sorting" aria-label="Geburtsdatum">
                    Geburtsdatum
                  </th>
                  <th class="sorting" aria-label="Telefonnummer">
                    Telefonnummer
                  </th>
                  <th class="sorting" aria-label="Email">
                    Email
                  </th>
                  <th class="sorting" aria-label="Anzahl der Verwarnungen">
                    Anzahl der Verwarnungen
                  </th>
                  <th class="sorting" aria-label="Benutzername">
                    Benutzername
                  </th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr role="row" th:each="person : ${persons}"
                    th:style="'color:'+${person.getUserAccount().isEnabled() ? 'black' : 'lightgrey'}+';'" th:data="@{/dashboard/accounts/{id}(id=${person.id})}">
                  <!--/*@thymesVar id="person" type="de.gardenmanager.person.Person"*/-->
                  <td th:text="${person.firstname}"></td>
                  <td th:text="${person.lastname}"></td>
                  <td th:text="${person.birthday}"></td>
                  <td th:text="${person.contactInfo.phoneNumber}"></td>
                  <td th:text="${person.contactInfo.email}"></td>
                  <!--/*@thymesVar id="warningRepository" type="de.gardenmanager.warning.WarningRepository"*/-->
                  <td th:text="${warningRepository.countAllByTenant(person)}"></td>
                  <td th:text="${person.getUserAccount().getUsername()}"></td>
                </tr>
                </tbody>
                <tfoot th:include=":: cols">

                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#userTable').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      }
    });
  });
  /*]]>*/
</script>
<script>
  $('#userTable').on( 'click', 'tbody tr', function () {
    window.location.href = $(this).attr("data");
  });
</script>
</body>
</html>