<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{parcels.newowner})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Eigentümer Überschreiben
        <small>(DEV only!)</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" th:text="'Eigentümer für Parzelle '+${parcel.location}+' ('+${parcel.id}+') überschreiben'"></h3>
          </div>
          <form th:action="@{/dashboard/parcels/{id}/assign(id=${parcel.id})}" th:object="${assignPersonParcelForm}" class="form-horizontal" method="post">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPersonId">neuer Eigentümer</label>

                <div class="col-sm-10">
                  <select id="inputPersonId" class="form-control" th:field="*{personId}">
                    <option th:each="person : ${persons}" th:text="${person.lastname} + ', ' + ${person.firstname} + ' ('+${person.userAccount.getUsername()}+', '+${person.id}+')'" th:value="${person.id}"></option>
                  </select>
                  <span th:if="${#fields.hasErrors('personId')}" th:errors="*{personId}"></span>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-info pull-right" type="submit">Absenden</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>