<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{persons})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1 th:text="#{chairman_management}">
        Chairman Management
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <!--/*@thymesVar id="chairmen" type="java.util.List<de.gardenmanager.person.Person>"*/-->
        <div class="col-md-4" th:each="cm : ${chairmen}">
          <!--/*@thymesVar id="cm" type="de.gardenmanager.person.Person"*/-->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" th:text="${cm} + ' ' + ${cm.id}"></h3>
            </div>
            <div class="box-body">
              <!--/*@thymesVar id="domain" type="java.util.List<de.gardenmanager.person.Parcel>"*/-->
              <th:block th:each="p : ${cm.getDomain()}">
                <!--/*@thymesVar id="p" type="de.gardenmanager.person.Parcel"*/-->
                <span class="label label-info" style="margin: 2px;">
                  <th:block th:text="${p}">Parcel</th:block>
                </span>
              </th:block>
            </div>
            <div class="box-footer">
              <!--/*@thymesVar id="parcels" type="java.util.List<de.gardenmanager.person.Parcel>"*/-->
              <form th:object="${parcelDomainAddForm}" method="post"
                    th:action="@{/dashboard/accounts/chairman}">
                <input type="hidden" id="chairman" name="chairman" th:value="${cm.id}"/>
                <div class="col-sm-10">
                  <select th:field="*{parcels}" multiple="multiple" style="width: 100%;">
                    <option th:each="pa : ${parcels}" th:value="${pa.getId()}" th:text="${pa}"></option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
              </form>
              <div class="col-sm-12">
                <small><i>Note: Hold <code>Ctrl</code> to select multiple at once</i></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#userTable').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      }
    });
  });
  /*]]>*/
</script>
</body>
</html>