<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{parcels})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        <span th:text="#{parcels}" th:remove="tag">Parcels</span>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" th:text="#{parcels.all_parcels}">All Parcels</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-hover table-responsive" id="parceltable">
                <thead th:fragment="columns">
                <tr role="row">
                  <th class="sorting" th:aria-label="#{parcels.location}" th:text="#{parcels.location}">
                    Ort
                  </th>
                  <th class="sorting" colspan="1"
                      th:aria-label="#{parcels.current_tenant}">
                    Current Tenant
                  </th>
                  <th class="sorting" colspan="1"
                      th:aria-label="#{parcels.size}" th:text="#{parcels.size}">
                    Size in &#x33A1;
                  </th>
                  <th class="sorting" th:aria-label="#{parcels.state}" th:text="#{parcels.state}">
                    Status
                  </th>
                  <th class="sorting" th:aria-label="#{parcels.past_tenants}" th:text="#{parcels.past_tenants}">
                    Past Tenants
                  </th>
                  <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot th:include="::columns">

                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts" th:remove="tag"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#parceltable').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      },
      "ajax": /*[[@{/dashboard/parcels/json}]]*/ "json"
    });
  });
  /*]]>*/
</script>
</body>
</html>