<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{requests.info})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>
  <form id="cancelForm" th:action="@{/dashboard/requests}" action="db_request"></form>
  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Antrag
        <small>Ansicht eines Antrags</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Antrag vom Pächter</h3>
          </div>
          <!--/*@thymesVar id="request" type="de.gardenmanager.request.Request"*/-->
            <div class="box-body">
              <div class="form-text">
                <label class="col-sm-2 control-label" th:text="#{requests.info.requestor}">requestor</label>
                <div class="col-sm-10">
                  <label class="col-xs-2" th:text="${request.requestor.firstname} + ' ' + ${request.requestor.lastname}"></label>
                </div>
              </div>
              <div class="form-text">
                <label class="col-sm-2 control-label" th:text="#{requests.info.title}">title</label>
                <div class="col-sm-10">
                  <label class="col-sm-2" th:text="${request.title}"></label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{requests.info.text}">description</label>
                <div class="col-sm-10">
                  <label class="col-sm-2" th:text="${request.text}"></label>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button form="cancelForm" class="btn btn-default" type="submit">zurück</button>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>