<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{requests})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Anträge
        <small>Zeigt die Anträge der Pächter an und leitet weiter zum erstellen von Anträgen</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <form th:action="@{/dashboard/requests/add}" action="db_addRequest">
            <button class="btn btn-block btn-default btn-lg" type="submit">
              Antrag erstellen
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="box-body">
          <div class="dataTables_wrapper from-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover dataTable" role="grid">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Titel">
                      Titel
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Vorname">
                      Vorname
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Nachname">
                      Nachname
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Text">
                      Beschreibung
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Actions">
                      Aktionen
                    </th>
                  </tr>
                  </thead>
                  <tbody th:remove="all-but-first">
                  <tr role="row" th:each="request : ${requests}">
                    <!--/*@thymesVar id="request" type="de.gardenmanager.request.Request"*/-->
                    <td th:text="${request.title}"></td>
                    <td th:text="${request.requestor.firstname}"></td>
                    <td th:text="${request.requestor.lastname}"></td>
                    <td th:text="${request.text}"></td>
                    <td>
                      <a class="btn btn-block btn-info" title="Antrag ansehen"
                         th:href="@{/dashboard/requests/{request}/(request=${request.id})}" th:text="#{requests.show}">Anzeigen</a>
                      <a class="btn btn-block btn-danger" title="Antrag löschen"
                       th:href="@{/dashboard/requests/delete/} + ${request.id}" th:text="#{requests.delete}">Löschen</a>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Titel">
                      Titel
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Vorname">
                      Vorname
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Nachname">
                      Nachname
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Text">
                      Beschreibung
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Actions">
                      Aktionen
                    </th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="col-sm-5">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>