<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{userprofile})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<style sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CEO')">
  .inforow {
    background: rgba(0,0,0,0);
    transition: background 0.5s ease;
    width: calc(100% + 20px);
    padding: 10px;
    margin: -10px;
  }
  .inforow-inner {
    opacity: 0;
    transition: opacity .35s ease;
  }
  .inforow:hover {
    background: rgba(0,0,0,.1);
  }
  .inforow:hover .inforow-inner {
    opacity: 1;
  }
</style>
<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1 th:text="#{userprofile}">
        User Profile
      </h1>
    </section>
    <!--/*@thymesVar id="person" type="de.gardenmanager.person.Person"*/-->
    <!--/*@thymesVar id="parcel" type="de.gardenmanager.person.Parcel"*/-->
    <!--/*@thymesVar id="warningRepository" type="de.gardenmanager.warning.WarningRepository"*/-->
    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4" id="centerbox" style="transition: left 0.35s ease; -webkit-transition: left 0.35s ease;">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle"
                   th:src="@{//www.gravatar.com/avatar/{md5}(md5=${T(org.apache.commons.codec.digest.DigestUtils).md5Hex(person.contactInfo.email)},d='robohash')}"
                   alt="User profile picture" />

              <h3 class="profile-username text-center"
                  th:text="${person.firstname} + ' ' + ${person.lastname}">Nina
                Mcintire</h3>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b th:text="#{userprofile.username}">Username</b> <span class="pull-right"
                                                                   th:text="${person.userAccount.username}">1,322</span>
                </li>
                <li class="list-group-item">
                  <b th:text="#{userprofile.parcel}">Parcel</b> <span class="pull-right"
                                                                   th:text="${parcel}">1,322</span>
                </li>
              </ul>

              <a href="#" id="btn-changepw"
                 class="btn btn-info btn-block" th:title="#{userprofile.changepw}"><i
                  class="fa fa-key" aria-hidden="true"></i>&nbsp;<span th:remove="tag"
                                                                       th:text="#{userprofile.changepw}"></span></a>
              <a th:href="@{/dashboard/accounts/{id}/sellparcel(id=${person.id})}" class="btn btn-danger btn-block" th:title="#{userprofile.sellparcel}"><i
                  class="fa fa-money" aria-hidden="true"></i>&nbsp;<span th:remove="tag"
                                                                       th:text="#{userprofile.sellparcel}"></span></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" th:text="#{userprofile.info}">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-map-marker margin-r-5"></i>&nbsp;
                <span th:text="#{userprofile.address}"></span></strong>

              <p class="text-muted">
                <span th:text="${person.address.street} + ' ' +
                ${person.address.streetNumber}" th:remove="tag">Malibu, California</span>
                <br />
                <span th:text="${person.address.zipCode} + ' ' + ${person.address.city}" th:remove="tag"></span>
              </p>

              <hr />

              <strong><i class="fa fa-address-book-o margin-r-5"></i>&nbsp;
                <span th:text="#{userprofile.contact}"></span></strong>

              <p class="text-muted">
                <a th:text="${person.contactInfo.email}" th:href="'mailto:'+${person.contactInfo.email}">Malibu, California</a>
                <br />
                <a th:text="${person.contactInfo.phoneNumber}"
                   th:href="'tel:'+${person.contactInfo.phoneNumber}">Malibu, California</a>
              </p>

              <hr />
              <div class="inforow" id="roles">
                <strong><i class="fa fa-user-circle-o margin-r-5"></i>&nbsp;<span
                    th:text="#{userprofile.roles}" th:remove="tag">Roles</span></strong>

                <p id="roles-inner">
                  <th:block th:each="role : ${person.userAccount.roles}">
                    <span class="label label-info" th:text="${role}">Javascript</span>
                  </th:block>
                  <span class="pull-right inforow-inner"><i class="fa fa-pencil"
                                                       aria-hidden="true"></i></span>
                </p>
                <form sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CEO')" id="personRoleAddForm"
                      th:object="${personRoleAddForm}"
                      method="post"
                      th:action="@{/dashboard/accounts/manage}" style="display: none;">
                  <input type="hidden" name="person" id="person" th:value="${person.id}"/>
                  <select multiple="multiple" name="roles" style="width: 90%">
                    <option value="ROLE_TENANTRY" th:selected="${person.userAccount.hasRole('ROLE_TENANTRY')}">
                      ROLE_TENANTRY</option>
                    <option value="ROLE_CHAIRMAN" th:selected="${person.userAccount.hasRole('ROLE_CHAIRMAN')}">ROLE_CHAIRMAN</option>
                    <option value="ROLE_TREASURER" th:selected="${person.userAccount.hasRole('ROLE_TREASURER')}">ROLE_TREASURER</option>
                    <option value="ROLE_CEO" th:selected="${person.userAccount.hasRole('ROLE_CEO')}">ROLE_CEO</option>
                  </select>
                  <button class="btn btn-success pull-right" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-4" id="password-col-md" style="display: none;">

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" th:text="#{userprofile.password}">Change your password</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--/*@thymesVar id="passwordChangeForm" type="de.gardenmanager.validation.PasswordChangeForm"*/-->
              <form id="passwordform" th:object="${passwordChangeForm}" th:action="@{/dashboard/accounts/{account}/chpasswd(account=${person.id})}" method="post">
                <div class="form-group">
                  <label for="passwordcurrent" th:text="#{userprofile.password.old}">Password</label>
                  <input type="password" class="form-control" id="passwordcurrent" th:field="*{currentpassword}" placeholder="Password" />
                </div>
                <div class="form-group">
                  <label for="passwordnew" th:text="#{userprofile.password.new}">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="passwordnew" th:field="*{newpassword}" placeholder="Password" />
                    <span class="input-group-addon" id="showpassword"><i class="fa fa-eye"></i></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="passwordagain" th:text="#{userprofile.password.again}">Password</label>
                  <input type="password" class="form-control" id="passwordagain" th:field="*{newpasswordagain}" placeholder="Password" />
                </div>
              </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button form="passwordform" type="submit" class="btn btn-success pull-right" th:text="#{userprofile.password.save}"></button>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function () {
    $('#userTable').DataTable({
      "language": {
        "url": /*[[#{dataTablesLocale}]]*/ "English.lang"
      }
    });
  });
  /*]]>*/
</script>
<script sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CEO')">
  $("#roles").click(function(){
    $(this).removeClass("inforow");
    $("#roles-inner").remove();
    $("#personRoleAddForm").fadeIn();
  })
</script>
<script>
  $("#showpassword").click(function () {
    if($("#passwordnew").attr("type") === "password"){
      $("#passwordnew").attr("type", "text");
      $("#showpassword i.fa").removeClass("fa-eye").addClass("fa-eye-slash");
    } else {
      $("#passwordnew").attr("type", "password");
      $("#showpassword i.fa").removeClass("fa-eye-slash").addClass("fa-eye");
    }
  });
  $("#btn-changepw").click(function () {
    $("#centerbox").removeClass("col-md-offset-4").addClass("col-md-offset-2");
    $("#password-col-md").fadeIn();
  })
</script>
</body>
</html>