<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{roombooking.add})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>
  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Validierung
        <small>Validierung der Abgeleisteten Stunden</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout"
           th:classappend="'callout-' + ${message.severityCss}"
           th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Validieren</h3>
          </div>
          <!--/*@thymesVar id="assignmentValidationForm" type="de.gardenmanager.validation.AssignmentValidationForm"*/-->
          <!--/*@thymesVar id="assignment" type="de.gardenmanager.calendar.Assignment"*/-->
          <!--/*@thymesVar id="person" type="de.gardenmanager.person.Person"*/-->
          <form
              th:action="@{/dashboard/assignments/{id}/validate/{p}(id=${assignmentid},p=${personid})}"
              th:object="${assignmentValidationForm}" class="form-horizontal" method="post">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputHours">Stunden</label>
                <div class="col-sm-10">
                  <input id="inputHours" class="form-control" placeholder="Getätigte Stunden"
                         th:field="*{hoursDone}"/>
                  <span th:if="${#fields.hasErrors('hoursDone')}" th:errors="*{hoursDone}"></span>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-success pull-right" type="submit">Antrag erstellen</button>
              <a class="btn btn-danger"
                 th:href="@{/dashboard/assignments/{id} (id=${assignmentsid})}">Abbrechen</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>