<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{dashboard})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Vorbestellungen
        <small>Alle Vorbestellungen anzeigen</small>
      </h1>
    </section>

    <section class="content">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Alle Vorbestellungen</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-hover dataTable" id="table">
            <thead th:fragment="thead">
            <th class="sorting" aria-label="Essen">
              Essen
            </th>
            <th class="sorting" aira-label="Anzahl der Vorbestellungen">
              Anzahl der Vorbestellungen
            </th>
            </thead>
            <!--/*@thymesVar id="preorder" type="de.gardenmanager.restaurant.Preorder"*/-->
            <tbody th:each="preorder : ${preorders}">
            <tr th:each="meals : ${preorder.orderItems}">
              <td th:text="${meals.name}"></td>
              <td th:text="${meals.quantity}"></td>
            </tr>
            </tbody>
            <tfoot th:include=":: thead"></tfoot>
          </table>
        </div>
      </div>

    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>