<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:replace="templatebackend :: head (#{warning})">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:replace="templatebackend :: header">
  </header>

  <aside th:replace="templatebackend :: navigation" class="main-sidebar">
  </aside>

  <div class="content-wrapper" style="min-height: 902.8px;">
    <section class="content-header">
      <h1>
        Verwarnungen
        <small>Anlegen und Verwalten von Verwarnungen</small>
      </h1>
    </section>

    <section class="content">
      <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="callout" th:classappend="'callout-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        <h4>Reminder!</h4>
        Instructions for how to use modals are available on the
        <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <a class="btn btn-block btn-default" th:href="@{/dashboard/warning/add}">Verwarnung
            erfassen!</a>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <div class="box-body">
            <div class="dataTables_wrapper from-inline dt-bootstrap">
              <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover dataTable" role="grid">
                    <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Obmann">
                        Obmann
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Pächter">
                        Pächter
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Datum">
                        Datum
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                          aria-label="Beschreibung">
                        Beschreibung
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Actions">
                        Aktionen
                      </th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr role="row" th:each="warning : ${warnings}">
                      <!--/*@thymesVar id="warning" type="de.gardenmanager.warning.Warning"*/-->
                      <td th:text="${warning.registrar}"></td>
                      <td th:text="${warning.tenant.lastname} + ', ' + ${warning.tenant.firstname}"></td>
                      <td th:text="${warning.date}"></td>
                      <td th:text="${warning.description}"></td>
                      <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Obmann">
                        Obmann
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Pächter">
                        Pächter
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Datum">
                        Datum
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                          aria-label="Beschreibung">
                        Beschreibung
                      </th>
                      <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Actions">
                        Aktionen
                      </th>
                    </tr>
                    </tfoot>
                  </table>
                  <a class="btn btn-block btn-danger" th:href="@{/dashboard/warning/delete/all}">
                    ALLE Verwarnungen löschen <i class="fa fa-bolt" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="col-sm-5">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div th:include="templatebackend :: scripts"></div>
</body>
</html>