<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.css}" />
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.min.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.min.css}"/>
  <title>Fehler 401 - Nicht Autorisiert</title>
</head>
<body>
  <div class="jumbotron text-center">
    <h1 class="display-3">Kleingartensparte "Zur Sonneblume e.V."</h1>
    <p>Es ist ein Fehler aufgetreten</p>
  </div>
  <div class="container-fluid text-center">
    <h2>Diese Seite steht nur angemeldeten Nutzern zu verfügung</h2>
    <a href="/loginpage" rel="alternate">HIER</a> geht Zum Login.
  </div>
</body>
</html>