<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.css}"/>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap4-business-tycoon.min.css"
        th:href="@{/resources/css/bootstrap4-business-tycoon.min.css}"/>
  <title th:text="#{clubname} + ' - ' + #{fe.newapplication}">Zur Sonneblume e.V.</title>
</head>

<body>
<div class="container" style="max-width: 1222px;">
  <header>

    <a href="/" title="Zur Sonnenblume e.V"> <img
        src="../static/resources/img/logo.jpg"
        th:src="@{/resources/img/header.jpg}" alt="User Image"
        style="max-width: 100%; max-height: 100%;" th:fragment="image" />
    </a>
  </header>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"
         th:include="navigation :: navigation"></nav>
  </header>


<div class="col-sm-10">
  <!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
  <div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
    This is a primary alert—check it out!
  </div>
  <h2>Bewerben Sie sich jetzt für eine freie Parzelle!</h2>
  <p/>
  <div class="col-md-4">
    <div class="box">
      <div class="box-header"></div>
      <!--/*@thymesVar id="applicationCreationForm" type="de.gardenmanager.validation.ApplicationCreationForm"*/-->
      <form th:object="${applicationCreationForm}" th:action="@{/application}" class="form-horizontal" method="post">
        <div class="box-body">
          <div class="form-group">
            <label class="control-label" for="inputName">Name:</label>
            <div class="input-group">
              <input id="inputName" class="form-control" placeholder="Name" th:field="*{name}"/>
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
          </div>
          <p/>
          <div class="form-group">
            <label class="control-label" for="inputFirstname">Vorname:</label>
            <div class="input-group">
              <input id="inputFirstname" class="form-control" placeholder="Vorname" th:field="*{firstname}"/>
              <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
            </div>
          </div>
          <p/>
          <div class="form-group">
            <label class="control-label" for="inputTelephone">Telefon:</label>
            <div class="input-group">
              <input id="inputTelephone" class="form-control" placeholder="Telefon" th:field="*{telephone}"/>
              <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
            </div>
          </div>
          <p/>
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email:</label>
            <div class="input-group">
              <input id="inputEmail" class="form-control" placeholder="Email" th:field="*{email}"/>
              <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
          </div>
          <p/>
          <div class="form-group">
            <label class="control-label" for="inputParcelNR">Gewünschte Parzelle:</label>
            <div class="input-group">
              <!--/*@thymesVar id="parcelNR" type="java.lang.String"*/-->
              <input type="text" id="inputParcelNR" class="form-control" placeholder="Parzellennummer" th:field="*{parcel}" readonly="readonly" />
              <span th:if="${#fields.hasErrors('parcel')}" th:errors="*{parcel}"></span>
            </div>
          </div>
        </div>
        <p/>
        <div class="box-footer">
          <button type="submit" class="btn btn-block btn-info pull right">Bewerbung abschicken</button>
          <p/>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script>
		document.getElementById('Bewerben').className = 'nav-item active';
	</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
</body>
</html>