<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{clubname} + ' - ' + #{events.title}">Zur Sonneblume e.V.</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/fullcalendar/3.4.0/fullcalendar.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/fullcalendar/3.4.0/fullcalendar.print.min.css}"
	media="print" />
</head>
<body>

	<div class="container" style="max-width: 1222px;">

		<header>

			<a href="/" title="Zur Sonnenblume e.V"> <img
				src="../static/resources/img/logo.jpg"
				th:src="@{/resources/img/header.jpg}" alt="User Image"
				style="max-width: 100%; max-height: 100%;" th:fragment="image" />
			</a>
		</header>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark"
				th:include="navigation :: navigation"></nav>
		</header>

		<div style="max-width: 100%; margin-top: 1.8%; margin-left: 0.5%">
			<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
      <div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
        This is a primary alert—check it out!
      </div>
			<h3>Veranstaltungen</h3>
			<div style="margin-top: 2%; margin-left: 1.5%; width: 97%">
				<section class="content">
					<div class="row">
						
						<div class="box box-primary col-md-12">
							<div class="box-body">
								<!-- THE CALENDAR -->
								<div id="calendar"></div>
							</div>
						</div>
						<!-- /. box -->


					</div>
				</section>
			</div>
		</div>

	</div>

	<div th:include="templatebackend :: scripts"></div>
	<script
		th:src="@{/webjars/momentjs/2.20.1/min/moment-with-locales.min.js}"></script>
	<script th:src="@{/webjars/fullcalendar/3.4.0/fullcalendar.min.js}"></script>
	<script th:src="@{/webjars/fullcalendar/3.4.0/locale-all.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var events = [];
	</script>
	<!--/*@thymesVar id="events" type="java.lang.Iterable<de.gardenmanager.calendar.Event>"*/-->
	<th:block th:each="event : ${events}">
		<script th:if="${!event.hasAssignment() and event.isPublished()}" type="text/javascript"
			th:inline="javascript">
			/*<![CDATA[*/
			events
					.push({
						title : /*[[${event.name}]]*/"",
						start : /*[[${event.start.toString()}]]*/"",
						end : /*[[${event.end.toString()}]]*/"",
						url : /*[[@{/events/{id}(id=${event.id})}]]*/"#",
						backgroundColor : '#688A08',
						borderColor : '#2E3B0B'
					});
			/*]]>*/
		</script>
	</th:block>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$('#calendar').fullCalendar({
			
			header : {
				left : 'prev,next today',
				center : 'title',
				right : 'month,agendaWeek,listMonth'
			},
			events : events,
			timeFormat : 'HH:mm',
			editable : false,
			droppable : false,
			height : "auto"
		})
		/*]]>*/
	</script>
	<script>
		document.getElementById('Termine').className = 'nav-item active';
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
</body>
</html>