<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/Ionicons/css/ionicons.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/bower_components/jvectormap/jquery-jvectormap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/AdminLTE.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css"
        href="https://www.webjars.org/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>

  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
  <title th:text="#{clubname} + ' - ' + #{fe.login}">Zur Sonneblume e.V.</title>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>Kleingartensparte</b>
    Zur Sonnenblume e.V.
  </div>
  <div class="login-box-body">
    <p>Melden sie sich bitte an!</p>
    <p th:if="${loginError}">Wrong user or password</p>
    <form th:action="@{/login}" method="post">
      <div class="form-group has-feedback">
        <input class="form-control" type="text" id="username" name="username" autofocus="autofocus"/>
        <span class="glyphicon glyphicon-king form-control-feedback"></span>
      </div>
      <div>
        <input class="form-control" type="password" id="password" name="password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block btn-flat" type="submit" th:text="#{fe.login}">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--jquery-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<!--Bootstrap-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/bootstrap/dist/bootstrap.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/dist/js/bootstrap.min.js"></script>
<!--Fastclick-->
<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/fastclick/lib/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/fastclick/lib/fastclick.js"></script>
<!--AdminLTE-->
<script th:src="@{/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/dist/js/adminlte.min.js"></script>
<!--Sparkline-->
<script
    th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"
    src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!--jvectormap-->
<script th:src="@{/webjars/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script
    th:src="@{/webjars/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-world-mill-en.min.js}"
    src="https://www.webjars.org/AdminLTE/2.4.2/plugins/jvectormap/jquery-jvectormap-world-mill-en.min.js"></script>
<!-- Slimscroll -->
<script th:src="@{/AdminLTE/2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<script th:src="@{/webjars/AdminLTE/2.4.2/bower_components/jquery/dist/jquery.min.js}"
        src="https://www.webjars.org/AdminLTE/2.4.2/bower_components/Chart.js/Chart.js"></script>

<div class="jvectormap-label" style="left: 530px; top: 667px; display: none;"></div>
</body>
</html>