<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{clubname} + ' - ' + #{fe.restaurant}">Zur Sonneblume e.V.</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container" style="max-width: 1222px;">
		<header>

			<a href="/" title="Zur Sonnenblume e.V"> <img
				src="../static/resources/img/logo.jpg"
				th:src="@{/resources/img/header.jpg}" alt="User Image"
				style="max-width: 100%; max-height: 100%;" th:fragment="image" />
			</a>
		</header>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark"
				th:include="navigation :: navigation"></nav>
		</header>
		<div style="max-width: 100%; margin-top: 1%; margin-left: 0.5%">
			<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
			<div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
				This is a primary alert—check it out!
			</div>
			<h3>Menü</h3>
			<div class="row" style="margin-top: 2%; width: 100%">
				<div class="col-md-4" >
					<img src="../static/resources/img/dessert.jpg"
						th:src="@{/resources/img/starter.jpg}" alt="User Image"
						th:fragment="image" style="max-width: 100%" />
				</div>
				<div class="col-md-8" >
					<div style="margin-bottom: 1%; margin-left: 1%">
						<h5>Vorspeisen:</h5>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 40%">Name</th>
								<th style="width: 50%">Beschreibung</th>
								<th style="width: 10%">Preis</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dish : ${starters}">
								<td th:text="${dish.name}"></td>
								<td th:text="${dish.allergens}"></td>
								<td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="row" style="margin-top: 4%; width: 100%">
				<div class="col-md-4" >
					<img src="../static/resources/img/dessert.jpg"
						th:src="@{/resources/img/maincourse.jpg}" alt="User Image"
						th:fragment="image" style="max-width: 100%" />
				</div>
				<div class="col-md-8" >
					<div style="margin-bottom: 1%; margin-left: 1%">
						<h5>Hauptgerichte:</h5>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 40%">Name</th>
								<th style="width: 50%">Beschreibung</th>
								<th style="width: 10%">Preis</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dish : ${maincourses}">
								<td th:text="${dish.name}"></td>
								<td th:text="${dish.allergens}"></td>
								<td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="row" style="margin-top: 4%; width: 100%">
				<div class="col-md-4" >
					<img src="../static/resources/img/dessert.jpg"
						th:src="@{/resources/img/dessert.jpg}" alt="User Image"
						th:fragment="image" style="max-width: 100%" />
				</div>
				<div class="col-md-8" >
					<div style="margin-bottom: 1%; margin-left: 1%">
						<h5>Desserts:</h5>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 40%">Name</th>
								<th style="width: 50%">Beschreibung</th>
								<th style="width: 10%">Preis</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dish : ${desserts}">
								<td th:text="${dish.name}"></td>
								<td th:text="${dish.allergens}"></td>
								<td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
	<script>
		document.getElementById('Gaststaette').className = 'nav-item dropdown active';
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

</body>
</html>