<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{clubname} + ' - ' + #{fe.preorder}">Zur Sonneblume e.V.</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet"
	href="../static/resources/css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" />
</head>
<body>
	<div class="container" style="max-width: 1222px;">
		<header>

			<a href="/" title="Zur Sonnenblume e.V"> <img
				src="../static/resources/img/logo.jpg"
				th:src="@{/resources/img/header.jpg}" alt="User Image"
				style="max-width: 100%; max-height: 100%;" th:fragment="image" />
			</a>
		</header>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark"
				th:include="navigation :: navigation"></nav>
		</header>

		<div style="max-width: 100%; margin-top: 1.8%; margin-left: 0.5%">
			<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
			<div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
				This is a primary alert—check it out!
			</div>
			<h3>Saal buchen</h3>
			<div style="margin-top: 2%">

				<section class="content">

					<div class="dataTables_wrapper from-inline dt-bootstrap">
						<div class="row" >
							<div class="col-md-8">

								<!--/*@thymesVar id="eventCreationForm" type="de.gardenmanager.validation.EventCreationForm"*/-->
								<form id="preorderform" th:object="${preorderCreationForm}"
									th:action="@{/preorder/addData}" class="form-horizontal"
									method="post">

									<div class="form-group"
										th:classappend="${#fields.hasErrors('date')} ? 'has-error' : 'form-group'">
										<label for="startdatepicker"
											th:text="#{events.add.form.start}">Datum:</label>

										<div class='input-group date' id='datetimepicker6'>
											<input type='text' id="startdatepicker" class="form-control"
												th:field="*{date}" /> <span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
										<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('firstname')} ? 'has-error' : 'form-group'">
										<label class="control-label" for="inputOwner">Vorname:</label>
										<input type="text" id="firstname" class="form-control"
											placeholder="Vorname" th:field="*{firstname}" /> <span
											th:if="${#fields.hasErrors('firstname')}"
											th:errors="*{firstname}"></span>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('lastname')} ? 'has-error' : 'form-group'">
										<label class="control-label" for="inputOwner">Nachname:</label>
										<input type="text" id="lastname" class="form-control"
											placeholder="Nachname" th:field="*{lastname}" /> <span
											th:if="${#fields.hasErrors('lastname')}"
											th:errors="*{lastname}"></span>
									</div>
									<div class="box-footer">
										<div class="box-footer">
											<button type="submit" style="cursor: pointer"
												class="btn btn-primary">Bestellung abschicken</button>
											<a class="btn btn-secondary" href="/preorder">zurück</a>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-4">
								<img src="../static/resources/img/dessert.jpg"
									th:src="@{/resources/img/dessert.jpg}" alt="User Image"
									th:fragment="image" style="max-width: 100%" />
							</div>

						</div>
					</div>

				</section>
			</div>
		</div>


	</div>
	<script>
		document.getElementById('Gaststaette').className = 'nav-item dropdown active';
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
	<div th:include="templatebackend :: scripts"></div>
	<script
		th:src="@{/webjars/momentjs/2.20.1/min/moment-with-locales.min.js}"></script>
	<script
		th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.js}"></script>
	<script>
		$(function() {
			$('#startdatepicker').datetimepicker({
				minDate : new Date(),
				sideBySide : true,
				showTodayButton : true,
				format : "llll",
				useCurrent : false
			});
		});
	</script>
	<script>
		$("#preorderform").submit(function(event) {
			//event.preventDefault();

			var startdate = new Date($("#startdatepicker").val());

			$("#startdatepicker").val(startdate.toISOString());
		});
	</script>
	<script>
		$("#btnSubmit").click(function() {
			var startdate = new Date($("#startdatepicker").val());

			$("#startdatepicker").val(startdate.toISOString());

			$("#preorderform").submit();
		})
	</script>
</body>
</html>