<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{clubname} + ' - ' + #{fe.booking}">Zur Sonneblume e.V.</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet"
	href="../static/resources/css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" />
</head>
<body>
	<div class="container" style="max-width: 1222px;">
		<header>

			<a href="/" title="Zur Sonnenblume e.V"> <img
				src="../static/resources/img/logo.jpg"
				th:src="@{/resources/img/header.jpg}" alt="User Image"
				style="max-width: 100%; max-height: 100%;" th:fragment="image" />
			</a>
		</header>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark"
				th:include="navigation :: navigation"></nav>
		</header>

		<div style="max-width: 100%; margin-top: 1.8%; margin-left: 0.5%">
			<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
			<div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
				This is a primary alert—check it out!
			</div>
			<h3>Saal buchen</h3>
			<div style="margin-top: 2%">

				<section class="content">

					<div class="dataTables_wrapper from-inline dt-bootstrap">
						<div class="row" style="max-width: 99.98%; margin-left: 0.01%">
							<div class="col-md-10">

								<!--/*@thymesVar id="eventCreationForm" type="de.gardenmanager.validation.EventCreationForm"*/-->
								<form id="eventform" th:object="${reservationCreationForm}"
									th:action="@{booking}" class="form-horizontal" method="post">
									<div class="box-body">
										<div class="form-group"
											th:classappend="${#fields.hasErrors('start')} ? 'has-error' : 'form-group'">
											<label for="startdatepicker"
												th:text="#{events.add.form.start}">Startdatum</label>

											<div class='input-group date' id='datetimepicker6'>
												<input type='text' id="startdatepicker" class="form-control"
													th:field="*{start}" /> <span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
											<span th:if="${#fields.hasErrors('start')}"
												th:errors="*{start}"></span>

										</div>
										<div class="form-group"
											th:classappend="${#fields.hasErrors('end')} ? 'has-error' : 'form-group'">
											<label for="finaldatepicker" th:text="#{events.add.form.end}">Enddatum</label>

											<div class='input-group date' id='datetimepicker7'>
												<input type='text' id="finaldatepicker" class="form-control"
													th:field="*{end}" /> <span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
											<span th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></span>

										</div>
										<div class="form-group"
											th:classappend="${#fields.hasErrors('owner')} ? 'has-error' : 'form-group'">
											<label class="control-label" for="inputOwner">Name</label> <input
												type="text" id="inputOwner" class="form-control"
												placeholder="Name" th:field="*{owner}" /> <span
												th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></span>
										</div>

										<div class="form-group"
											th:classappend="${#fields.hasErrors('description')} ? 'has-error' : 'form-group'">
											<label class="control-label" for="inputDescription">Beschreibung</label>

											<textarea id="inputDescription" class="form-control"
												placeholder="Beschreibung" th:field="*{description}"></textarea>
											<span th:if="${#fields.hasErrors('description')}"
												th:errors="*{description}"></span>

										</div>



									</div>
									<div class="box-footer">
										<div class="box-footer">
											<button type="button submit" class="btn btn-primary active">Saal
												buchen</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-2" style="margin-top: 30px">
								<img src="../static/resources/img/dessert.jpg"
									th:src="@{/resources/img/restaurant.jpg}" alt="User Image"
									th:fragment="image" style="max-width: 100%" />
							</div>
						</div>
					</div>

				</section>
			</div>
		</div>


	</div>
	<script>
		document.getElementById('Gaststaette').className = 'nav-item dropdown active';
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
	<div th:include="templatebackend :: scripts"></div>
	<script
		th:src="@{/webjars/momentjs/2.20.1/min/moment-with-locales.min.js}"></script>
	<script
		th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.js}"></script>
	<script>
		$(function() {
			$('#startdatepicker').datetimepicker({
				minDate : new Date(),
				sideBySide : true,
				showTodayButton : true,
				format : "llll",
				useCurrent : false
			});
			$('#finaldatepicker').datetimepicker({
				minDate : new Date(),
				sideBySide : true,
				showTodayButton : true,
				format : "llll",
				useCurrent : false
			//Important! See issue #1075
			});
			$("#startdatepicker").on("dp.change", function(e) {
				$('#finaldatepicker').data("DateTimePicker").minDate(e.date);
			});
			$("#finaldatepicker").on("dp.change", function(e) {
				$('#startdatepicker').data("DateTimePicker").maxDate(e.date);
			});
		});
	</script>
	<script>
		$("#eventform").submit(function(event) {
			//event.preventDefault();

			var startdate = new Date($("#startdatepicker").val());
			var enddate = new Date($("#finaldatepicker").val());

			$("#startdatepicker").val(startdate.toISOString());
			$("#finaldatepicker").val(enddate.toISOString());
		});
	</script>
	<script>
		$("#btnSubmit").click(function() {
			var startdate = new Date($("#startdatepicker").val());
			var enddate = new Date($("#finaldatepicker").val());

			$("#startdatepicker").val(startdate.toISOString());
			$("#finaldatepicker").val(enddate.toISOString());

			$("#eventform").submit();
		})
	</script>
</body>
</html>