<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{clubname} + ' - ' + #{fe.preorder}">Zur Sonneblume e.V.</title>

<style>
body {
	background-image: url('../Images/Black-BackGround.gif');
	background-repeat: repeat;
}
</style>

<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body onload="loadpos()" onunload="savepos()">
	<div class="container" style="max-width: 1222px;">
		<header>

			<a href="/" title="Zur Sonnenblume e.V"> <img
				src="../static/resources/img/logo.jpg"
				th:src="@{/resources/img/header.jpg}" alt="User Image"
				style="max-width: 100%; max-height: 100%;" th:fragment="image" />
			</a>
		</header>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark"
				th:include="navigation :: navigation"></nav>
		</header>
		<div style="max-width: 100%; margin-top: 1.8%; margin-left: 0.5%">
			<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
			<div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
				This is a primary alert—check it out!
			</div>
			<h3>Vorbestellungen</h3>
			<div style="margin-top: 2%; min-width: 800px" class="row">
				<div id="menu" class="col-md-8">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 28%">Name</th>
								<th style="width: 35%">Beschreibung</th>
								<th style="width: 8%">Preis</th>
								<th style="width: 22%; min-width: 182px;">Anzahl</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dish : ${starters}">
								<td th:text="${dish.name}"></td>
								<td th:text="${dish.allergens}"></td>
								<td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
								<td><form th:action="@{/preorder/addItem}" action=""
										method="post">
										<input type="number" style="width: 30%;" min="1" max="100"
											name="number" value="1" /> <span class="validity"></span> <input
											type="hidden" name="id" value="0" th:value="${dish.id}" />
										<button style="cursor: pointer" class="btn btn-secondary"
											role="button" aria-pressed="true" type="submit">hinzufügen</button>
									</form></td>
							</tr>
							<tr th:each="dish : ${maincourses}">
								<td th:text="${dish.name}"></td>
								<td th:text="${dish.allergens}"></td>
								<td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
								<td><form th:action="@{/preorder/addItem}" action=""
										method="post">
										<input type="number" style="width: 30%;" min="1" max="100"
											name="number" value="1" /> <span class="validity"></span> <input
											type="hidden" name="id" value="0" th:value="${dish.id}" />
										<button style="cursor: pointer" class="btn btn-secondary"
											role="button" aria-pressed="true" type="submit">hinzufügen</button>
									</form></td>
							</tr>
							<tr th:each="dish : ${desserts}">
								<td th:text="${dish.name}"></td>
								<td th:text="${dish.allergens}"></td>
								<td th:text="${dish.price.getNumber().doubleValueExact()}"></td>
								<td><form th:action="@{/preorder/addItem}" action=""
										method="post">
										<input type="number" style="width: 30%;" min="1" max="100"
											name="number" value="1" /> <span class="validity"></span> <input
											type="hidden" name="id" value="0" th:value="${dish.id}" />
										<button style="cursor: pointer" class="btn btn-secondary"
											role="button" aria-pressed="true" type="submit">hinzufügen</button>
									</form></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:unless="${preorders.size() == 0}" id="preorder"
					class="col-md-4" style="margin-top: 0px">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 80%">Name</th>
								<th style="width: 10%">Anzahl</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order : ${preorders}">
								<td th:text="${order.name}"></td>
								<td th:text="${order.quantity}"></td>
								<td><form th:action="@{/preorder/delateItem}" action=""
										method="post">
										<input type="hidden" name="id" value="0"
											th:value="${order.id}" />
										<button style="cursor: pointer" class="btn btn-danger"
											role="button" aria-pressed="true" type="submit">X</button>
									</form></td>
							</tr>
						</tbody>
					</table>
					<form id="weiter" th:action="@{/preorder/data}">
						<button onclick="cookieNull()" style="cursor: pointer"
							class="btn btn-primary" type="submit">weiter</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		window.onscroll = function() {
			myFunction()
		};
		var high = 0;
		var a = document.getElementById("preorder");
		var sidebar = a.offsetTop;

		function myFunction() {
			document.cookie = window.pageYOffset;
			if (window.pageYOffset >= sidebar) {
				a.classList.add("sidebar")
				high = (window.pageYOffset - sidebar) + 2;
				document.getElementById('preorder').setAttribute("style",
						"margin-top:" + high + "px");
			} else {
				a.classList.remove("sidebar");
				document.getElementById('preorder').setAttribute("style",
						"margin-top:0px");
			}
		}
	</script>
	<script type="text/javascript">
		window.onload = function() {
			window.scroll(0, document.cookie);
		}
	</script>
	<script th:inline="javascript">
	    if([[${preorders.size()}]] == 0){
	        document.getElementById('menu').className = 'col-md-12';
	    }
	</script>
	<script type="text/javascript">
	function cookieNull() {

		document.cookie = 0;
	}
	</script>
	<script type="text/javascript"></script>
	<script>         
		document.getElementById('Gaststaette').className = 'nav-item dropdown active';
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

</body>
</html>

