<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{clubname}">Zur Sonnenblume e.V,</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container" style="max-width: 1222px;">
		<header>

			<a href="/" title="Zur Sonnenblume e.V"> <img
				src="../static/resources/img/logo.jpg"
				th:src="@{/resources/img/header.jpg}" alt="User Image"
				style="max-width: 100%; max-height: 100%;" th:fragment="image" />
			</a>
		</header>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark"
				th:include="navigation :: navigation"></nav>
		</header>
		<div style="max-width: 100%; margin-top: 1.8%; margin-left: 0.5%">
			<!--/*@thymesVar id="message" type="de.gardenmanager.controller.Message"*/-->
			<div th:if="${message != null}" class="alert" role="alert" th:classappend="'alert-' + ${message.severityCss}" th:utext="${#messages.msg(message.text)}">
				This is a primary alert—check it out!
			</div>
			<h3>Willkommen</h3>
			<div style="margin-top: 2%">Kleingartenfreunde und solche die
				es werden wollen, sind hier mehr als nur richtig. Der
				Kleingartenverein "Zur Sonnenblume" ist einer der
				traditionsreichsten im gesamten Freistaat und genießt einen
				hervorragenden Ruf, wenn es ums gemeinschaftliche Rüben stecken,
				Unkraut zupfen und Kartoffeln ernten geht. Nicht nur bei
				schweißtreibenden und ebenso produktiven Arbeitseinsätzen findet die
				Gartengemeinschaft zueinander, sondern auch beim lockeren Gespräch
				über den Zaun und bei unserem alljährlichen Sommerfest, zu dem auch
				alle Gäste recht herzlich eingeladen sind. Schauen sie auch bei
				unserer Konkurrenz vorbei, um festzustellen, dass sie diese
				Bezeichnung nie und nimmer verdient hat! Niemand kann uns das Wasser
				reichen, abgesehen vom freundlichen Nachbarn, mit der prall
				gefüllten Gießkanne.</div>
			<div style="margin-top: 2%">
				<p>
					<a href="http://www.dresdner-gartenfreunde.de" target="_blank">Dresdner
						Gartenfreunde</a>
				</p>
				<p>
					<a href="http://www.stadtverband-leipzig.de" target="_blank">Stadtverband
						Leipzig der Kleingärtner</a>
				</p>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('Startseite').className = 'nav-item active';
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

</body>
</html>