<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head>
</head>

<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:fragment="headerbackend">

    <!-- Logo -->
    <a th:href="@{/dashboard}" class="logo" th:fragment="a1">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" th:fragment="span1"><b th:fragment="b1">A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" th:fragment="span2"><b th:fragment="b2">Admin</b>LTE</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" th:fragment="nav">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" th:fragment="a2">
        <span class="sr-only" th:fragment="span2">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu" th:fragment="div1">
        <ul class="nav navbar-nav" th:fragment="ul1">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu" th:fragment="li14">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:fragment="a12">
              <!-- The user image in the navbar-->
              <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm"
                   class="user-image" alt="User Image" th:fragment="img2"/>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" th:fragment="span7" th:text="${#authentication.getPrincipal().getUsername()}">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm" class="img-circle" alt="User Image" />

                <p th:text="${#authentication.getPrincipal().getUsername()}">
                </p>
              </li>

              <li class="user-footer">

                <div class="pull-right">
                  <a th:href="@{/logout}" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

</div>

</body>
</html>