<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      style="height: auto; min-height: 100%;">
<head th:fragment="headbackend">
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/ionicons/2.0.1/css/ionicons.min.css}" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/jvectormap/2.0.4/jquery-jvectormap.css}" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />

  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
  <title>GardenManager - Dashboard</title>
</head>
</html>