<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      style="height: auto; min-height: 100%;">
<head th:fragment="head (title)">
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/datatables/1.10.16/css/dataTables.bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/ionicons/2.0.1/css/ionicons.min.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/jvectormap/2.0.4/jquery-jvectormap.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/select2/4.0.3/css/select2.min.css}" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/AdminLTE/2.4.2/plugins/iCheck/square/blue.css}"/>

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>

  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      box-sizing: content-box;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }

    li.divider {
      height: 5px;
      display: block;
    }

    table.rowclickable tr:hover td {
      cursor: url("/resources/img/Noto_Emoji_Oreo_1f446_1f3fd.png"), pointer;
      /*cursor: hand;*/
    }
  </style>
  <title th:text="'GardenManager - '+${title}"></title>
</head>

<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper" style="height: auto; min-height: 100%;">

  <header class="main-header" th:fragment="header">
    <!-- Logo -->
    <a th:href="@{/dashboard}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>G</b>M</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Garden</b>Manager</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only" th:text="#{toggle_navigation}">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <!--/*@thymesVar id="username" type="java.lang.String"*/-->
      <!--/*@thymesVar id="useraccount" type="java.lang.String"*/-->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img th:src="${gravatarurl}"
                   class="user-image" alt="User Image" style="background: white;" />
              <!-- hidden-xs hides the username on small devices so only the image appears. -->

              <span class="hidden-xs" th:fragment="span7"
                    th:text="${username}"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <!--/*@thymesVar id="userid" type="java.lang.String"*/-->

                <img th:src="${gravatarurl}"
                     class="img-circle" th:alt="#{user_image}"/>
                  <p th:text="${username} + ' (' + ${useraccount} + ')'"></p>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <a class="btn btn-default btn-flat" th:href="@{/dashboard/accounts/{account}(account=${userid})}" th:text="#{profile}">Profile</a>
                </div>
                <div class="pull-right">
                  <form  th:action="@{/logout}" method="post">
                    <button class="btn btn-default btn-flat"><i class="fa fa-sign-out"
                                                                aria-hidden="true" type="submit"></i>
                      <span th:text="#{signout}" th:remove="tag"></span></button>
                  </form>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:fragment="navigation" class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section th:fragment="sidebar" class="sidebar" style="height: auto;">

      <ul class="sidebar-menu tree" data-widget="tree" th:fragment="backendlisthead">
        <li class="header" th:text="#{navigation.title}">NAVIGATION</li>
        <li sec:authorize="isAuthenticated()">
          <a th:href="@{/dashboard}">
            <i class="fa fa-dashboard" aria-hidden="true"></i>&nbsp;
            <span th:text="#{navigation.overview}">Overview</span>
          </a>
        </li>
        <li class="treeview" sec:authorize="hasAnyRole('ROLE_CATERER', 'ROLE_ADMIN')">
          <a href="#">
            <i class="fa fa-cutlery"></i>
            <span th:text="#{navigation.restaurant}">Restaurant</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/dashboard/restaurant/dish}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.restaurant.dishes}" th:remove="tag">Dishes</span></a></li>
            <li><a th:href="@{/dashboard/restaurant/menu}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.restaurant.menus}" th:remove="tag">Menus</span></a></li>
            <li><a th:href="@{/dashboard/restaurant/preorder/}"><i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.restaurant.preorder}" th:remove="tag">Preorders</span></a></li>
          </ul>
        </li>
        <li sec:authorize="hasAnyRole('ROLE_TENANTRY', 'ROLE_CHAIRMAN', 'ROLE_TREASURER', 'ROLE_CEO', 'ROLE_CATERER', 'ROLE_ADMIN')">
          <a th:href="@{/dashboard/restaurant/booking}">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;
            <span th:text="#{navigation.roombooking}">Roombooking</span>
          </a>
        </li>

        <li class="treeview" sec:authorize="hasAnyRole('ROLE_CHAIRMAN', 'ROLE_ADMIN', 'ROLE_TREASURER', 'ROLE_CEO')">
          <a href="#">
            <i class="fa fa-cutlery"></i>
            <span th:text="#{navigation.events}">Events</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/dashboard/calendar}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.events}" th:remove="tag">Events</span></a></li>
            <li><a th:href="@{/dashboard/assignments}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.assignments}" th:remove="tag">Assignments</span></a></li>
          </ul>
        </li>
          <li sec:authorize="hasAnyRole('ROLE_TENANTRY')">
            <a th:href="@{/dashboard/calendar}">
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.events}">Events</span>
            </a>
          </li>
        <li class="treeview" sec:authorize="hasAnyRole('ROLE_TENANTRY', 'ROLE_CEO', 'ROLE_CHAIRMAN', 'ROLE_ADMIN', 'ROLE_TREASURER')">
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
            <span sec:authorize="hasAnyRole('ROLE_CHAIRMAN','ROLE_CEO','ROLE_ADMIN')" th:text="#{navigation.management}">User Management</span>
            <span sec:authorize="hasAnyRole('ROLE_TENANTRY', 'ROLE_TREASURER')" th:text="#{navigation.management.user}">Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li sec:authorize="hasAnyRole('ROLE_CEO','ROLE_ADMIN', 'ROLE_TREASURER')"><a th:href="@{/dashboard/accounts}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.management.tenants}" th:remove="tag">Tenants</span></a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_CEO','ROLE_ADMIN')"><a th:href="@{/dashboard/accounts/chairman}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.management.chairman}" th:remove="tag">Chairman</span></a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_CEO','ROLE_ADMIN')"><a th:href="@{/dashboard/caterer/add}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.management.caterer}" th:remove="tag">Add Caterer</span></a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_CEO','ROLE_ADMIN')"><a th:href="@{/dashboard/application/view}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.management.applications}">Applications</span></a></li>
            <li sec:authorize="hasAnyRole('ROLE_CHAIRMAN','ROLE_CEO','ROLE_ADMIN', 'ROLE_TREASURER')" class="divider"></li>
            <li><a th:href="@{/dashboard/requests}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.management.requests}" th:remove="tag">Requests</span></a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_CHAIRMAN','ROLE_CEO','ROLE_ADMIN')" class="divider"></li>
            <li sec:authorize="hasAnyRole('ROLE_CHAIRMAN','ROLE_CEO','ROLE_ADMIN')"><a th:href="@{/dashboard/warning}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.management.warnings}" th:remove="tag">Warnings</span></a>
            </li>
          </ul>
        </li>
        <li sec:authorize="hasAnyRole('ROLE_CHAIRMAN','ROLE_CEO', 'ROLE_ADMIN')">
          <a th:href="@{/dashboard/parcels}">
            <i class="fa fa-map" aria-hidden="true"></i>
            <span th:text="#{navigation.parcels}">Parcels</span>
          </a>
        </li>
        <li class="treeview" sec:authorize="hasAnyRole('ROLE_TENANTRY', 'ROLE_CEO', 'ROLE_CHAIRMAN', 'ROLE_ADMIN', 'ROLE_TREASURER')">
          <a href="#" th:fragment="backendtext10">
            <i class="fa fa-money" aria-hidden="true"></i>
            <span th:text="#{navigation.accounting}">Accounting</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/dashboard/accounting/}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.overview}" th:remove="tag"></span></a></li>
            <li><a th:href="@{/dashboard/accounting/meterreading}">
              <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;
              <span th:text="#{navigation.accounting.add_meterreading}">Enter meter readings</span></a>
            </li>
          </ul>
        </li>
        <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
          <a href="#" th:fragment="backendtext10">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span>Developer Options</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/dashboard/dev/usercreation}">
              <i class="fa fa-circle-o" aria-hidden="true"></i> Random User Creation</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

</div>
<div th:fragment="scripts" th:remove="tag">
  <!--jquery-->
  <script
      th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
  <!--Bootstrap-->
  <script
      th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
  <!--Fastclick-->
  <script
      th:src="@{/webjars/fastclick/1.0.6/fastclick.js}"></script>
  <!--AdminLTE-->
  <script th:src="@{/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js}"></script>
  <!--jvectormap-->
  <script
      th:src="@{/webjars/jvectormap/2.0.4/jquery.jvectormap.min.js}"></script>
  <!-- Slimscroll -->
  <script
      th:src="@{/webjars/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js}"></script>

  <script
      th:src="@{/webjars/chartjs/26962ce/Chart.min.js}"></script>

  <script th:src="@{/webjars/AdminLTE/2.4.2/plugins/iCheck/icheck.min.js}"></script>

  <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
  <script th:src="@{/webjars/datatables-plugins/1.10.16/sorting/intl.js}"></script>
  <script th:src="@{/webjars/datatables-plugins/1.10.16/dataRender/intl.js}"></script>

  <script th:src="@{/webjars/select2/4.0.3/js/select2.full.min.js}"></script>
  <script type="text/javascript">
    $("select").select2();
  </script>
  <div class="jvectormap-label" style="left: 530px; top: 667px; display: none;"></div>
</div>
</body>
</html>